/**** RESET ****/
div:after, ul:after, ol:after, li:after, form:after { content: "."; display: block; clear: both; visibility: hidden; height: 0; overflow: hidden; }
ul, li { margin: 0; padding: 0; list-style: none; }
a, img, input { border: 0; outline: 0; text-decoration: none; }
input { background: transparent; }
h1, h2, h3, p { margin: 0; padding: 0; font-weight: normal; }

/**** FONT-FACE ****/
@font-face {
  font-family: 'marvelbold';
  src: url('fonts/marvel-bold-webfont.eot');
  src: url('fonts/marvel-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/marvel-bold-webfont.woff') format('woff'), url('fonts/marvel-bold-webfont.ttf') format('truetype'), url('fonts/marvel-bold-webfont.svg#marvelbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'marvelregular';
  src: url('fonts/marvel-regular-webfont.eot');
  src: url('fonts/marvel-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/marvel-regular-webfont.woff') format('woff'), url('fonts/marvel-regular-webfont.ttf') format('truetype'), url('fonts/marvel-regular-webfont.svg#marvelregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'marvelitalic';
  src: url('fonts/marvel-italic-webfont.eot');
  src: url('fonts/marvel-italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/marvel-italic-webfont.woff') format('woff'), url('fonts/marvel-italic-webfont.ttf') format('truetype'), url('fonts/marvel-italic-webfont.svg#marvelitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**** GERAIS ****/
body { background: url(../img/backgrounds/geral.jpg) 0 0 repeat; }
.wrap { width: 960px; margin: 0 auto; }

/**** HEADER ****/
.header { background: url(../img/backgrounds/header.png) 0 0 repeat-x; position: fixed; top: 0; left: 0; width: 100%; z-index: 999; }
.header .inicial { box-shadow: 0 10px 6px -6px #c3c3c3; position: relative; z-index: 2; }
.header .logo { background: url(../img/logo.png) 0 0 no-repeat; width: 341px; height: 30px; float: left; margin: 12px 7px; }
.ferramentas { float: right; margin: 16px 10px; }
.ferramentas > li { float: left; border-right: 2px dotted #464545; }
.ferramentas > li:nth-child(3), .ferramentas > li:nth-child(4) { border: 0; }
.ferramentas .busca { background: url(../img/icones/busca.png) 0 0 no-repeat; width: 23px; height: 24px; float: left; margin: 0 18px; }
.ferramentas .busca:hover { background-position: 0 -24px; }
.ferramentas .usuarios { background: url(../img/icones/usuarios.png) 0 0 no-repeat; width: 24px; height: 24px; float: left; margin: 0 17px; }
.ferramentas .usuarios:hover { background-position: 0 -24px; }
.ferramentas .creditos { font-size: 24px; font-family: 'marvelbold'; color: #fe7c09; }
.ferramentas .creditos i { background: url(../img/icones/cifrao.png) 0 -48px no-repeat; width: 24px; height: 24px; float: left; margin: -2px 0 0 16px; padding: 0 12px 0 0; }
.ferramentas .creditos:hover { color: #ffa000; }
.ferramentas .creditos:hover i { background-position: 0 -24px; }
.ferramentas .creditos.ativo { color: #717171; }
.ferramentas .creditos.ativo i { background-position: 0 0; }
.ferramentas .creditos.ativo:hover { color: #ffa000; }
.ferramentas .creditos.ativo:hover i { background-position: 0 -25px; }

/**** CADASTRO ****/
.cadastro { float: left; position: relative; border: 1px solid #474747; margin: -7px 0 0 40px; background: url(../img/icones/seta.png) right top no-repeat; border-radius: 5px; }
.cadastro:hover { background: #3d3d3d url(../img/icones/seta.png) right -34px no-repeat; border-radius: 5px 5px 0 0; }
.cadastro i { background: url(../img/icones/cadastro.png) 0 0 no-repeat; width: 15px; height: 21px; float: left; margin: -3px 10px 0 3px; }
.cadastro a { font-family: 'marvelregular'; font-size: 18px; color: #878787; float: left; height: 16px; padding: 9px 0; }
.cadastro ul li > a { width: 175px; }
.cadastro li { padding: 0 8px; }
.cadastro .nivel1 { float: left;}
.cadastro .nivel2 { position: absolute; z-index: 4; top: 34px; left: -1px; background: #3d3d3d; display: none; padding: 0 0 8px 0; border: 1px solid #474747; border-top: 0; border-radius: 0 0 5px 5px; }
.cadastro .nivel2 li:first-child a { border-top: 1px solid #474747; }
.cadastro .nivel2 a { text-indent: 20px; border-radius: 5px; }
.cadastro .nivel2 a:hover { background: #4c4c4c; }

/**** CONSULTAS ****/
.consultas { padding: 20px 0; border-bottom: 4px solid #e7e3dc; background: #ffffff; }
.consultas .texto { float: left; margin: 3px 8px; }
.consultas .texto h1 { font-family: 'marvelbold'; font-size: 30px; color: #fe7c09; }
.consultas .texto p { font-family: 'marvelregular'; font-size: 18px; color: #8e836f; }
.consultas .nivel1 { float: right; margin: 0 6px 0 0; position: relative; }
.consultas .nivel1 > li { float: left; margin: 0 4px; }
.consultas .nivel1 > li > a { background: url(../img/backgrounds/btnConsultas.png) 0 0 repeat-x; font-family: 'marvelbold'; font-size: 24px; color: #8e836f; float: left; border: 1px solid #d3cfc7; border-radius: 5px; line-height: 140%; padding: 12px 23px 6px 15px; box-shadow: 0 6px 1px -3px #eeece9; }
.consultas .nivel1 > li > a:hover { background-position: 0 -52px; }
.consultas .nivel1 > li > a.ativo { background-position: 0 -104px; color: #f5f0e9; }
.consultas .nivel1 > li > a > i { background: url(../img/icones/consultas.png); }
.consultas .nivel1 > li:nth-child(1) .cima { left: 68px; }
.consultas .nivel1 > li:nth-child(2) .cima { left: 220px; }
.consultas .nivel1 > li:nth-child(3) .cima { left: 370px; }
.consultas .nivel1 i { float: left; margin: 0 10px 0 0; }
.consultas .nivel1 .completa i { background-position: 0 0; width: 28px; height: 28px; }
.consultas .nivel1 .completa.ativo i { background-position: 0 -28px; }
.consultas .nivel1 .segura i { background-position: -28px 0; width: 27px; height: 28px; }
.consultas .nivel1 .segura.ativo i { background-position: -28px -28px; }
.consultas .nivel1 .outras { padding: 12px 13px 6px 15px; }
.consultas .nivel1 .outras i { background-position: -55px 0; width: 26px; height: 28px; }
.consultas .nivel1 .outras.ativo i { background-position: -55px -28px; }
.consultas .nivel1 .outras.ativo span { background-position: right -34px; }
.consultas .nivel1 .outras span { background: url(../img/icones/outras.png) right 12px no-repeat; float: right; width: 16px; height: 28px; margin: 0 0 0 10px; }
.consultas .nivel1 .usuarios i { background-position: -81px 0; width: 20px; height: 28px; }
.consultas .nivel1 .usuarios.ativo i { background-position: -81px -28px; }
.consultas .nivel1 .usuarios.ativo span { background-position: right -34px; }
.consultas .nivel1 .usuarios span { background: url(../img/icones/novoUsuario.png) right 7px no-repeat; float: right; width: 11px; height: 28px; margin: 0 0 0 10px; }
.consultas .nivel1 .usuarios:hover span { background-position: right -21px; }
.consultas .nivel2 { position: absolute; left: 0; top: 53px; z-index: 3; color: #8e836f; font-size: 18px; border: 1px solid #f0ede4; border-top: 7px solid #f0ede4; border-radius: 5px; box-shadow: 0 6px 12px 1px #aaa; width: 428px; background: #ffffff; padding: 16px; display: none; }
.consultas .nivel2 li > .titulo { font-family: 'marvelbold'; font-size: 23px; margin-bottom: 8px; }
.consultas .nivel2 li > .descricao { font-family: 'marvelregular'; margin-bottom: 22px; }
.consultas .nivel2 .cima { width: 0; height: 0; display: block; border: 10px solid transparent; border-bottom-color: #f0ede4; position: absolute; top: -27px; }
.consultas .nivel2 .adicional { font-family: 'marvelitalic'; margin-bottom: 22px; }
.consultas .nivel2 .custo { float: left; background: #f8f6f0; color: #ffa000; text-align: center; border: 1px solid #eeeae0; padding: 7px; border-radius: 5px; width: 170px; height: 73px; }
.consultas .nivel2 .custo .titulo { font-family: 'marvelregular'; font-size: 14px; text-transform: uppercase; border-bottom: 1px solid #f1eee6; line-height: 140%; }
.consultas .nivel2 .custo .descricao { font-family: 'marvelbold'; font-size: 54px; border-top: 1px solid #fdfcfb; margin-top: 1px; line-height: 120%; }
.consultas .nivel2 .custo .descricao p { background: url(../img/icones/credito.png) 0 6px no-repeat; display: inline-block; padding: 0 0 0 50px; }
.consultas .nivel2 .botoes { float: right; }
.consultas .nivel2 .botoes a { font-family: 'marvelbold'; display: block; text-align: center; border-radius: 5px; }
.consultas .nivel2 .botoes .consultar { background: url(../img/backgrounds/btnConsultar.png) 0 0 repeat-x; border: 1px solid #ffba47; font-size: 24px; color: #fef7dd; padding: 12px 57px 5px 47px; line-height: 130%; }
.consultas .nivel2 .botoes .consultar i { background: url(../img/icones/consultar.png) 0 0 no-repeat; width: 25px; height: 25px; }
.consultas .nivel2 .botoes .consultar:hover { background-position: 0 -48px; }
.consultas .nivel2 .botoes .consultar:hover i { background-position: 0 -25px; }
.consultas .nivel2 .botoes .consultar.disabled { background-position:0 -144px; color:#c3b7a1; border:1px solid #e1dcd1; cursor:default;}
.consultas .nivel2 .botoes .consultar.disabled i{background-position:0 -50px;} 
.consultas .nivel2 .botoes .visualizar { background: url(../img/backgrounds/btnVisualizar.png) 0 0 repeat-x; border: 1px solid #e1dcd1; font-size: 20px; color: #b3a68f; padding: 8px 0 4px 0; margin: 3px 0 0 0; }
.consultas .nivel2 .botoes .visualizar:hover { background-position: 0 -34px; }
.consultas .alertaPesquisa h1 { font-family: 'marvelitalic'; font-size: 24px; font-weight: normal; padding: 8px 20px 8px 52px; float: left; }
.consultas .alertaPesquisa.pronta h1 { color: #9fa70a; background: url(../img/icones/pronta.png) left center no-repeat; }
.consultas .alertaPesquisa.processando h1 { color: #ffa000; background: url(../img/icones/processando.png) left center no-repeat; }
.consultas .alertaPesquisa .vejaAqui { float: left; color: #ffffff; font-family: 'marvelbold'; font-size: 18px; background: url(../img/backgrounds/vejaAqui.png) center no-repeat; padding: 6px 11px 4px 15px; margin: 5px 0; }
.consultas .alertaPesquisa .fechar { background: url(../img/icones/sair.png) 0 0 no-repeat; width: 25px; height: 25px; float: right; margin: 6px 0; }
.content .novaConsulta.nivel1 { float: left; margin: 0 6px 10px 0; position: relative; }
.content .novaConsulta.nivel1 > li { float: left; margin: 0 4px; }
.content .novaConsulta.nivel1 > li > a { background: url(../img/backgrounds/btnConsultas.png) 0 0 repeat-x; font-family: 'marvelbold'; font-size: 24px; color: #8e836f; float: left; border: 1px solid #d3cfc7; border-radius: 5px; line-height: 140%; padding: 12px 23px 6px 15px; box-shadow: 0 6px 1px -3px #eeece9; }
.content .novaConsulta.nivel1 > li > a:hover { background-position: 0 -52px; }
.content .novaConsulta.nivel1 > li > a.ativo { background-position: 0 -104px; color: #f5f0e9; }
.content .novaConsulta.nivel1 > li > a > i { background: url(../img/icones/consultas.png); }
.content .novaConsulta.nivel1 > li:nth-child(1) .cima { left: 68px; }
.content .novaConsulta.nivel1 > li:nth-child(2) .cima { left: 220px; }
.content .novaConsulta.nivel1 > li:nth-child(3) .cima { left: 370px; }
.content .novaConsulta.nivel1 i { float: left; margin: 0 10px 0 0; }
.content .novaConsulta.nivel1 .completa i { background-position: 0 0; width: 28px; height: 28px; }
.content .novaConsulta.nivel1 .completa.ativo i { background-position: 0 -28px; }
.content .novaConsulta.nivel1 .segura i { background-position: -28px 0; width: 27px; height: 28px; }
.content .novaConsulta.nivel1 .segura.ativo i { background-position: -28px -28px; }
.content .novaConsulta.nivel1 .outras { padding: 12px 13px 6px 15px; }
.content .novaConsulta.nivel1 .outras i { background-position: -55px 0; width: 26px; height: 28px; }
.content .novaConsulta.nivel1 .outras.ativo i { background-position: -55px -28px; }
.content .novaConsulta.nivel1 .outras.ativo span { background-position: right -34px; }
.content .novaConsulta.nivel1 .outras span { background: url(../img/icones/outras.png) right 12px no-repeat; float: right; width: 16px; height: 28px; margin: 0 0 0 10px; }
.content .novaConsulta.nivel1 .usuarios i { background-position: -81px 0; width: 20px; height: 28px; }
.content .novaConsulta.nivel1 .usuarios.ativo i { background-position: -81px -28px; }
.content .novaConsulta.nivel1 .usuarios.ativo span { background-position: right -34px; }
.content .novaConsulta.nivel1 .usuarios span { background: url(../img/icones/novoUsuario.png) right 7px no-repeat; float: right; width: 11px; height: 28px; margin: 0 0 0 10px; }
.content .novaConsulta.nivel1 .usuarios:hover span { background-position: right -21px; }
.content .novaConsulta.nivel1 .nivel2 { position: absolute; left: 0; top: 53px; z-index: 3; color: #8e836f; font-size: 18px; border: 1px solid #f0ede4; border-top: 7px solid #f0ede4; border-radius: 5px; box-shadow: 0 6px 12px 1px #aaa; width: 428px; background: #ffffff; padding: 16px; display: none; }
.content .novaConsulta.nivel1 .nivel2 li > .titulo { font-family: 'marvelbold'; font-size: 23px; margin-bottom: 8px; }
.content .novaConsulta.nivel1 .nivel2 li > .descricao { font-family: 'marvelregular'; margin-bottom: 22px; }
.content .novaConsulta.nivel1 .nivel2 .cima { width: 0; height: 0; display: block; border: 10px solid transparent; border-bottom-color: #f0ede4; position: absolute; top: -27px; }
.content .novaConsulta.nivel1 .nivel2 .adicional { font-family: 'marvelitalic'; margin-bottom: 22px; }
.content .novaConsulta.nivel1 .nivel2 .custo { float: left; background: #f8f6f0; color: #ffa000; text-align: center; border: 1px solid #eeeae0; padding: 7px; border-radius: 5px; width: 170px; height: 73px; }
.content .novaConsulta.nivel1 .nivel2 .custo .titulo { font-family: 'marvelregular'; font-size: 14px; text-transform: uppercase; border-bottom: 1px solid #f1eee6; line-height: 140%; }
.content .novaConsulta.nivel1 .nivel2 .custo .descricao { font-family: 'marvelbold'; font-size: 54px; border-top: 1px solid #fdfcfb; margin-top: 1px; line-height: 120%; }
.content .novaConsulta.nivel1 .nivel2 .custo .descricao p { background: url(../img/icones/credito.png) 0 6px no-repeat; display: inline-block; padding: 0 0 0 50px; }
.content .novaConsulta.nivel1 .nivel2 .botoes { float: right; }
.content .novaConsulta.nivel1 .nivel2 .botoes a { font-family: 'marvelbold'; display: block; text-align: center; border-radius: 5px; }
.content .novaConsulta.nivel1 .nivel2 .botoes .consultar { background: url(../img/backgrounds/btnConsultar.png) 0 0 repeat-x; border: 1px solid #ffba47; font-size: 24px; color: #fef7dd; padding: 12px 57px 5px 47px; line-height: 130%; }
.content .novaConsulta.nivel1 .nivel2 .botoes .consultar i { background: url(../img/icones/consultar.png) 0 0 no-repeat; width: 25px; height: 25px; }
.content .novaConsulta.nivel1 .nivel2 .botoes .consultar:hover { background-position: 0 -48px; }
.content .novaConsulta.nivel1 .nivel2 .botoes .consultar:hover i { background-position: 0 -25px; }
.content .novaConsulta.nivel1 .nivel2 .botoes .visualizar { background: url(../img/backgrounds/btnVisualizar.png) 0 0 repeat-x; border: 1px solid #e1dcd1; font-size: 20px; color: #b3a68f; padding: 8px 0 4px 0; margin: 3px 0 0 0; }
.content .novaConsulta.nivel1 .nivel2 .botoes .visualizar:hover { background-position: 0 -34px; }
.escolhas { font-family: 'marvelregular'; color: #8e836f; font-size: 18px; margin: 0 0 16px 0; }
.escolhas .tipo { border-bottom: 1px solid #eeeae0; padding: 6px 0 3px 0; }
.escolhas .tipo:hover { background: #f8f5ef; }
.escolhas .bgCheckbox { background: url(../img/icones/checkbox.png) 0 1px no-repeat; float: left; padding: 0 2px 1px 3px; height: 18px; overflow: hidden; margin: -3px 8px 0 0; }
.escolhas input[type="checkbox"] { opacity: 0; filter: alpha(opacity=0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
.escolhas .nome { float: left; }
.escolhas .sobre { font-size: 15px; color: #cabeaa; }
.escolhas .valor { float: right; font-family: 'marvelbold'; }
.escolhas .mais { font-size: 14px; line-height: 140%; display: none; }
.escolhas .resumo { margin: 14px 0; }
.escolhas .maisDados { font-family: 'marvelitalic'; margin: 6px 0 20px 0; }
.content { padding: 84px 0; font-family: 'marvelregular'; color: #8e836f; }
.content .inner { margin: 0; }
.content .inner .titulo { font-family: 'marvelbold'; font-size: 30px; margin-left: 10px; }
.content .inner .titulo.laranja { color: #fe7c09; }
.content.doisMenus { padding: 194px 0 84px 0; }
.filtro { font-size: 18px; width: 940px; margin: 0 10px; padding: 15px 0; border-bottom: 1px solid #c7c7c7; box-shadow: 0 1px 1px 0 #ffffff; }
.filtro .rotulo { float: left; margin: 10px 5px 10px 0; }
.filtro .botoes { float: left; }
.filtro .botoes a { background: url(../img/backgrounds/filtro.png) 0 0 repeat-x; font-family: 'marvelbold'; color: #b3a68f; padding: 9px 15px 6px 15px; margin: 0 3px; float: left; border: 1px solid #e1dcd1; border-radius: 5px; }
.filtro .botoes a:hover { background-position: 0 -34px; color: #8e836f; }
.filtro .botoes a.ativo { background-position: 0 -68px; color: #fef7dd; border: 1px solid #ffba47; }
.filtro .selects { float: right; }
.filtro .nivel1 { float: left; margin: 0 3px; position: relative; }
.filtro .nivel1 .selecao { background: url(../img/backgrounds/filtro.png) 0 0 repeat-x; color: #8e836f; float: left; padding: 8px 14px 7px 18px; border: 1px solid #e1dcd1; border-radius: 5px; }
.filtro .nivel1 .selecao:hover { background-position: 0 -34px; color: #8e836f; }
.filtro .nivel1 .selecao .seletor1 { background: url(../img/icones/filtros.png) 0 0 no-repeat; width: 16px; height: 11px; float: right; margin: 3px 0 0 10px; }
.filtro .nivel1 .selecao.ativo .seletor1 { background-position: 0 -11px; }
.filtro .nivel1 .nivel2 { display: none; position: absolute; top: 36px; right: 0; z-index: 3; background: #ffffff; border: 1px solid #f0ede4; border-top: 2px solid #f6f5f0; border-bottom: 5px solid #f2f0ed; box-shadow: 0 6px 12px 1px #aaa; padding: 8px 16px; width: 164px; text-align: left; border-radius: 5px; }
.filtro .nivel1 .nivel2 > li { padding: 10px 0; }
.filtro .nivel1 .nivel2 > li:last-child a { border: 0; }
.filtro .nivel1 .nivel2 .cima { width: 0; height: 0; display: block; border: 9px solid transparent; border-bottom-color: #ffffff; position: absolute; top: -18px; right: 14px; }
.filtro .nivel1 .nivel2 .todos { color: #8e836f; text-align: center; width: 100%; display: block; padding: 4px 0; margin: 0 0 -8px 0; }
.filtro .nivel1 .nivel2 .todos:hover { background: #f6f3eb; border-radius: 5px; }
.filtro .nivel1 .nivel2.dias li { padding: 0; }
.filtro .nivel1 .nivel2.dias a { color: #8e836f; display: block; padding: 2px 6px 0 6px; line-height: 180%; border-radius: 5px; border-bottom: 1px solid #eeeae0; }
.filtro .nivel1 .nivel2.dias a:hover { background: #f6f3eb; }
.filtro .nivel1 .nivel2.dias .nivel3 { background: none; border: 0; margin: 0; padding: 5px 0; display: none; }
.filtro .nivel1 .nivel2.dias .nivel3 li { padding: 4px 0; }
.filtro .nivel1 .nivel2.dias .nivel3 .labelData { float: left; margin: 10px 0 0 0; width: 36px; text-align: right; }
.filtro .nivel1 .nivel2.dias .nivel3 .pegaData { float: right; padding: 5px 8px 1px 0; background: url(../img/backgrounds/filtro.png) 0 0 repeat-x; border: 1px solid #e1dcd1; border-radius: 5px; }
.filtro .nivel1 .nivel2.dias .nivel3 .calendario { width: 80px; font-family: 'marvelregular'; font-size: 18px; color: #8e836f; vertical-align: top; margin: 3px 10px 0 0; text-indent: 8px; }
.filtro .nivel1 .nivel2 .user { border-bottom: 1px solid #eeeae0; }
.filtro .nivel1 .nivel3 { position: relative; padding: 8px 8px 7px 14px; margin: 6px 0 0 0; background: url(../img/backgrounds/filtro.png) 0 0 repeat-x; border: 1px solid #e1dcd1; border-radius: 5px; }
.filtro .nivel1 .nivel3 .lista { color: #8e836f; float: left; }
.filtro .nivel1 .nivel3 .seletor2 { background: url(../img/icones/filtros.png) -16px 0 no-repeat; width: 11px; height: 15px; float: right; margin: 0 0 0 20px; }
.filtro .nivel1 .nivel3:hover { background-position: 0 -34px; }
.filtro .nivel1 .nivel3:hover .lista { color: #8e836f; }
.filtro .nivel1 .nivel4 { width: 100%; padding: 4px 0; border: 1px solid #e1dcd1; border-top: 0; border-radius: 0 0 5px 5px; display: none; position: absolute; left: -1px; top: 31px; z-index: 4; background: #ebe6d9; }
.filtro .nivel1 .nivel4 li { padding: 6px 0; margin: 0 7px; }
.filtro .nivel1 .nivel4 a { color: #8e836f; width: 100%; display: block; padding: 3px 0 2px 0; text-indent: 7px; border-radius: 5px; }
.filtro .nivel1 .nivel4 a:hover { background: #f6f3eb; }
.nenhumaConsulta { font-family: 'marvelregular'; margin: 19px 0; }
.nenhumaConsulta .imagem { float: left; width: 220px; height: 285px; background: url(../img/backgrounds/nenhumaConsulta.png) 0 0 no-repeat; }
.nenhumaConsulta .imagem a { float: left; width: 220px; height: 285px; background: url(../img/backgrounds/nenhumaConsulta.png) -220px 0 no-repeat; display: none; }
.nenhumaConsulta .texto { background: url(../img/icones/nenhumaConsulta.png) 37px 150px no-repeat; float: left; padding: 94px 35px; }
.nenhumaConsulta h1 { font-size: 30px; color: #fe7c09; }
.nenhumaConsulta p { font-size: 18px; color: #8e836f; }
.conjuntoDeCards { width: 100%; margin: 10px 0; }
.conjuntoDeCards .card { position: relative; z-index: 2; text-align: center; width: 220px; height: 285px; float: left; margin: 10px; overflow: hidden; }
.conjuntoDeCards .card .acesso { background: url(../img/backgrounds/cardAcesso.png) 0 0 no-repeat; width: 161px; height: 161px; margin: 35px auto; display: none; }
.conjuntoDeCards .card:hover .acesso, .conjuntoDeCards .card.hover .acesso { display: block;}
.conjuntoDeCards .mascara { background: url(../img/backgrounds/card.png) 0 0 no-repeat; width: 220px; height: 285px; position: absolute; left: 0; top: 0; z-index: 3; }
.conjuntoDeCards .mais { font-family: 'marvelregular'; color: #8e836f; padding: 51px 0 0 0; margin: 0 0 16px 0; }
.conjuntoDeCards .info { font-size: 16px; }
.conjuntoDeCards .usuario { font-size: 19px; color: #fe7c09; margin: 4px 0 3px 0; }
.conjuntoDeCards .valor { font-family: 'marvelbold'; font-size: 21px; color: #ffa000; }
.conjuntoDeCards .imagem { height: 161px; margin: 35px auto 0 auto; }
.conjuntoDeCards .detalhes { position: absolute; bottom: 12px; left: 0; width: 100%; text-align: center; }
.conjuntoDeCards .nome { width: 100%; font-family: 'marvelbold'; font-size: 17px; color: #ffffff; }
.conjuntoDeCards .dados { width: 100%; font-family: 'marvelitalic'; font-size: 16px; color: #fae3ab; }
.conjuntoDeCards #infscr-loading { text-align: center; }
.conjuntoDeCards #infscr-loading img { margin: 150px auto; }

/**** RESULTADO ****/
.sidebar { float: left; margin: 3px 18px 3px 9px; width: 281px; }
.sidebar .card { position: relative; z-index: 2; text-align: center; width: 281px; height: 366px; float: left; overflow: hidden; }
.sidebar .card:hover .acesso { display: block; }
.sidebar .mascara { background: url(../img/backgrounds/resultado.png) 0 0 no-repeat; width: 281px; height: 366px; position: absolute; left: 0; top: 0; z-index: 3; }
.sidebar .acesso { background: url(../img/backgrounds/cardAcesso.png) 0 0 no-repeat; width: 161px; height: 161px; margin: 35px auto; display: none; }
.sidebar .imagem { min-width: 201px; min-height: 201px; margin: 46px auto 0 auto; }
.sidebar .detalhes { position: absolute; bottom: 12px; left: 0; width: 100%; text-align: center; }
.sidebar .dados { font-family: 'marvelbold'; font-size: 24px; color: #ffffff; margin: 0 35px; }
.sidebar .menuResumo { float: left; position: relative; }
.sidebar .menuResumo:hover .nivel2 { display: block; }
.sidebar .menuResumo:hover .palco { background: #575757 url(../img/icones/selectResultado.png) right 18px no-repeat; }
.sidebar .menuResumo:hover .palco span { border-left-color: #505050; }
.sidebar .menuResumo a { font-size: 21px; float: left; }
.sidebar .menuResumo i { float: left; background: url(../img/icones/icoSelectResultado.png) 0 0 no-repeat; width: 32px; height: 21px; margin: 16px 10px 0 14px; }
.sidebar .menuResumo span { float: left; margin: 16px 0 0 0; padding: 0 0 0 18px; border-left: 1px solid #4c4c4c; }
.sidebar .menuResumo .palco { background: #474747 url(../img/icones/selectResultado.png) right 18px no-repeat; color: #ffa000; border-radius: 5px; border: 1px solid #454545; box-shadow: inset 0 1px 0px 0px #717171; float: left; width: 266px; height: 51px; padding: 0 6px; position: relative; z-index: 3; }
.sidebar .menuResumo .palco.resumo i { background-position: -32px 0; }
.sidebar .menuResumo .palco.checklist i { background-position: -32px -21px; }
.sidebar .menuResumo .palco.timeline i { background-position: -32px -42px; }
.sidebar .menuResumo .palco.detalhamento i { background-position: -32px -63px; }
.sidebar .menuResumo .palco span { border-left-color: #414141; }
.sidebar .menuResumo .palco span:first-letter { text-transform: uppercase; }
.sidebar .menuResumo .nivel2 { position: absolute; top: 49px; left: 0; z-index: 2; background: #3d3d3d; width: 268px; padding: 2px 6px 0 6px; border-radius: 0 0 5px 5px; display: none; }
.sidebar .menuResumo .nivel2 li { border-bottom: 1px solid #565656; height: 51px; }
.sidebar .menuResumo .nivel2 li:last-child { border: 0; }
.sidebar .menuResumo .nivel2 a { color: #878787; width: 100%; margin: 6px 0 0 0; padding: 0 0 6px 0; }
.sidebar .menuResumo .nivel2 a.checklist i { background-position: 0 -21px; }
.sidebar .menuResumo .nivel2 a.timeline i { background-position: 0 -42px; }
.sidebar .menuResumo .nivel2 a.detalhamento i { background-position: 0 -63px; }
.sidebar .menuResumo .nivel2 a:hover { background: #4c4c4c; border-radius: 5px; color: #ffa000; }
.sidebar .menuResumo .nivel2 a:hover span { border-left-color: #464646; }
.sidebar .menuResumo .nivel2 a:hover.checklist i { background-position: -32px -21px; }
.sidebar .menuResumo .nivel2 a:hover.timeline i { background-position: -32px -42px; }
.sidebar .menuResumo .nivel2 a:hover.detalhamento i { background-position: -32px -63px; }
.sidebar .menuResumo .nivel2 i { margin: 10px 10px 0 14px; }
.sidebar .menuResumo .nivel2 span { margin: 10px 0 0 0; }
.sidebar .dadosVeiculo, .sidebar .dadosConsulta { color: #b6b6b6; font-size: 18px; border: 1px solid #595959; float: left; border-radius: 5px 5px 0 0; width: 248px; padding: 17px 15px; box-shadow: inset 0 2px 0px 0px #717171; background: #626262; word-wrap: break-word; }
.sidebar .dadosVeiculo .titulo, .sidebar .dadosConsulta .titulo { font-family: 'marvelbold'; font-size: 23px; border-bottom: 1px solid #555351; box-shadow: 0 2px 0px 0px #717171; padding: 0 0 5px 0; margin: 5px 0 21px 0; }
.sidebar .dadosVeiculo .linha, .sidebar .dadosConsulta .linha { border-bottom: 1px solid #555351; box-shadow: 0 1px 0px 0px #717171; padding: 0 0 2px 0; margin: 0 0 8px 0; }
.sidebar .dadosVeiculo .linha .nome, .sidebar .dadosConsulta .linha .nome { width: 87px; float: left; text-align: right; }
.sidebar .dadosVeiculo .linha .descricao, .sidebar .dadosConsulta .linha .descricao { font-family: 'marvelbold'; width: 155px; padding: 0 0 0 6px; float: left; text-align: left; }
.sidebar .dadosVeiculo .linha:last-child, .sidebar .dadosConsulta .linha:last-child { border: 0; box-shadow: none; }
.sidebar .dadosConsulta { color: #989898; background: #555555; border-radius: 0 0 5px 5px; border: 1px solid #4e4e4e; border-top: 3px solid #4f4f4f; border-bottom: 4px solid #4f4f4f; box-shadow: none; word-wrap: break-word; }
.sidebar .dadosConsulta .titulo { border-bottom: 1px solid #4b4b4b; box-shadow: 0 2px 0px 0px #5a5a5a; }
.sidebar .dadosConsulta .linha { border-bottom: 1px solid #4b4b4b; box-shadow: 0 2px 0px 0px #5a5a5a; }
.resultado { float: left; margin: 3px 0; width: 638px; }
.resultado .historico { margin: 0 0 26px 0; }
.resultado .historico .nome { font-size: 18px; color: #ffffff; text-transform: uppercase; background: #b3a68f url(../img/backgrounds/historico.png) 29px 12px no-repeat; border: 1px solid #d3cfc7; border-bottom: 2px solid #a69983; }
.resultado .historico .nome p { padding: 26px 0 21px 135px; }
.resultado .historico .descricao { padding: 28px 28px; border: 1px solid #d3cfc7; background: #fcfbf8; }
.resultado .historico .descricao .detalhes { float: left; border-right: 1px solid #f4f0e9; padding: 0 33px 0 0; margin: 15px 0 0 0; }
.resultado .historico .descricao .detalhes .quadro { border: 1px solid #efebe3; margin: 0 0 18px 0; width: 170px; height: 53px; }
.resultado .historico .descricao .detalhes .quadro .numero { position: relative; font-size: 40px; color: #ffffff; background: #b3a68f; float: left; border-bottom: 4px solid #a69983; }
.resultado .historico .descricao .detalhes .quadro .numero p { margin: 7px 19px -1px 14px; }
.resultado .historico .descricao .detalhes .quadro .texto { float: left; border-bottom: 4px solid #e9e5dc; font-size: 18px; color: #b3a68f; text-align: center; width: 121px; height: 49px; background: #efebe3; }
.resultado .historico .descricao .detalhes .quadro .texto p { margin: 15px 0; }
.resultado .historico .descricao .origem { float: left; padding: 0 0 0 35px; color: #b3a68f; }
.resultado .historico .descricao .origem .pin { background: url(../img/icones/pin.png) 0 0 no-repeat; width: 99px; height: 144px; float: left; }
.resultado .historico .descricao .origem .relacao { float: left; margin: 9px 0 0 21px; }
.resultado .historico .descricao .origem .onde { font-size: 18px; }
.resultado .historico .descricao .origem .cidadeOrigem { font-family: 'marvelbold'; font-size: 36px; text-transform: uppercase; border-bottom: 1px solid #f4f0e9; padding: 1px 0 3px 0; }
.resultado .historico .descricao .origem .passagem { font-size: 18px; border-top: 1px solid #ffffff; margin: 1px 0 0 0; padding: 9px 0 6px 0; }
.resultado .historico .descricao .origem .cidadePassagem { font-family: 'marvelbold'; font-size: 18px; }
.resultado .historico .descricao .quilometragem { float: left; width: 100%; margin: 47px 0 0 0; }
.resultado .historico .descricao .quilometragem .separador { position: relative; border-top: 1px solid #efebe3; border-bottom: 1px solid #fff; height: 1px; }
.resultado .historico .descricao .quilometragem .separador p { font-size: 18px; color: #ffffff; background: #b3a68f; position: absolute; top: -15px; left: 225px; padding: 5px 18px; }
.resultado .historico .descricao .quilometragem .tabela { background: #ffffff url(../img/backgrounds/km.png) 16px 11px no-repeat; border: 1px solid #efebe3; margin: 34px 0 0 0; color: #b3a68f; box-shadow: inset 0 -3px 0px 0px #f1eeea; }
.resultado .historico .descricao .quilometragem .tabela .g { font-size: 44px; font-family: 'marvelbold'; }
.resultado .historico .descricao .quilometragem .tabela .t { font-size: 18px; }
.resultado .historico .descricao .quilometragem .tabela .informada { float: left; margin: 13px 0 0 138px; }
.resultado .historico .descricao .quilometragem .tabela .informada .g { margin: -4px 0 0 0; }
.resultado .historico .descricao .quilometragem .tabela .estimada { float: left; margin: 13px 0 0 58px; }
.resultado .historico .descricao .quilometragem .tabela .estimada .g { margin: -4px 0 0 0; }
.resultado .historico .descricao .quilometragem .tabela .diferenca { float: right; width: 127px; height: 76px; border-left: 1px solid #efebe3; border-bottom: 4px solid #a69983; color: #f4efe6; text-align: center; position: relative; background: #b3a68f; }
.resultado .historico .descricao .quilometragem .tabela .diferenca .g { margin: 9px 0 0 0; }
.resultado .historico .descricao .quilometragem .tabela .diferenca .t { margin: -7px 0 0 0; }
.resultado .historico .descricao .quilometragem .tabela .esquerda { width: 0; height: 0; display: block; border: 12px solid transparent; border-right-color: #b3a68f; position: absolute; top: 27px; left: -23px; }
.resultado span.direita { width: 0; height: 0; display: block; border: 10px solid transparent; border-left-color: #b3a68f; position: absolute; top: 16px; right: -20px; }
.resultado .estrutural, .resultado .legal { border: 1px solid #d3cfc7; margin: 0 0 26px 0; }
.resultado .estrutural .referencia, .resultado .legal .referencia { float: left; text-align: center; border-right: 1px solid #d3cfc7; border-bottom: 2px solid #a69983; width: 221px; height: 386px; background: #b3a68f; }
.resultado .estrutural .referencia .imagem, .resultado .legal .referencia .imagem { margin: 94px auto 0 auto; }
.resultado .estrutural .referencia .texto, .resultado .legal .referencia .texto { font-size: 18px; color: #ffffff; text-transform: uppercase; margin: 70px 0 0 0; }
.resultado .estrutural .lista, .resultado .legal .lista { float: left; color: #b3a68f; font-size: 18px; width: 394px; padding: 19px 10px 0 10px; background: #fcfbf8; }
.resultado .estrutural .lista .linha, .resultado .legal .lista .linha { background: url(../img/backgrounds/borda.png) 0 10px repeat-x; margin: 0 0 22px 0; position: relative; }
.resultado .estrutural .lista .borda, .resultado .legal .lista .borda { float: left; border-top: 1px solid #f4f0e9; border-bottom: 1px solid #ffffff; height: 1px; width: 100%; }
.resultado .estrutural .lista .item, .resultado .legal .lista .item { float: left; background: #fcfbf8; padding: 0 2px; }
.resultado .estrutural .status, .resultado .legal .status { float: right; background: #fcfbf8; padding: 0 2px; }
.resultado .estrutural .status.nao, .resultado .legal .status.nao { background: #fcfbf8 url(../img/icones/status.png) 0 0 no-repeat; width: 67px; height: 33px; position: absolute; right: 0; top: -8px; }
.resultado .estrutural .status.nao span, .resultado .legal .status.nao span { display: none; }
.resultado .estrutural .status.sim, .resultado .legal .status.sim { background: #fcfbf8 url(../img/icones/status.png) 0 -33px no-repeat; width: 67px; height: 33px; position: absolute; right: 0; top: -8px; }
.resultado .estrutural .status.sim span, .resultado .legal .status.sim span { display: none; }
.resultado .legal .referencia { height: 306px; }
.resultado .legal .referencia .imagem { margin: 50px auto 0 auto; }
.resultado .pontosDeAtencao { color: #8e836f; border: 1px solid #d3cfc7; height: 134px; font-family: 'marvelbold'; background: #f6f4f2; }
.resultado .pontosDeAtencao .pontos { float: left; padding: 18px 0 0 0; width: 213px; border-right: 1px solid #d3cfc7; }
.resultado .pontosDeAtencao .pontos .total { background: url(../img/backgrounds/pontos.png) 0 0 no-repeat; width: 99px; height: 116px; padding: 0 0 0 17px; text-align: center; font-size: 36px; float: left; }
.resultado .pontosDeAtencao .pontos .total p { margin: 30px auto; }
.resultado .pontosDeAtencao .pontos .texto { font-size: 24px; float: left; margin: 37px 6px; }
.resultado .pontosDeAtencao .pontos .texto a { font-size: 16px; color: #c3b8a5; }
.resultado .pontosDeAtencao .descricao { float: left; width: 422px; }
.resultado .pontosDeAtencao .descricao .label { font-size: 24px; border-bottom: 1px solid #d3cfc7; background: #ffffff; }
.resultado .pontosDeAtencao .descricao .label p { padding: 13px 0 11px 19px; }
.resultado .pontosDeAtencao .descricao .maisInfo { padding: 12px 0; }
.resultado .pontosDeAtencao .descricao .maisInfo > div { float: left; }
.resultado .pontosDeAtencao .descricao .ico { background: url(../img/icones/pontosDeAtencao.png) 0 0 no-repeat; width: 55px; height: 55px; float: left; margin: 0 0 0 20px; }
.resultado .pontosDeAtencao .descricao .dados { float: left; padding: 5px 14px 5px 6px; }
.resultado .pontosDeAtencao .descricao .dados > span { display: block; }
.resultado .pontosDeAtencao .descricao .g { font-size: 30px; }
.resultado .pontosDeAtencao .descricao .p { font-size: 14px; font-family: 'marvelregular'; margin: -4px 0 0 0; }
.resultado .pontosDeAtencao .descricao .restricoes .ico { background-position: 0 0; }
.resultado .pontosDeAtencao .descricao .impedimentos .ico { background-position: -55px 0; }
.resultado .pontosDeAtencao .descricao .alertas .ico { background-position: -110px 0; margin: 0; }
.resultado #accordion { margin: 12px 0; color: #8e836f!important; }
.resultado #accordion .ico { background: url(../img/icones/pontosDeAtencaoP.png) 0 0 no-repeat; width: 32px; height: 32px; float: left; margin: 0 24px 0 0; }
.resultado #accordion .ico.impedimento { background-position: 0 -32px; }
.resultado #accordion .ico.alerta { background-position: 0 -64px; }
.resultado #accordion .ico.ok { background-position: 0 -96px; }
.resultado #accordion .ui-accordion-header { padding: 9px 6px; font-family: 'marvelbold'; font-size: 24px; border-radius: 0; color: #8e836f!important; background: #ffffff; border: 1px solid #d3cfc7; box-shadow: inset 0 -4px 0 0 #f2f0ed; }
.resultado #accordion .ui-accordion-header:hover { box-shadow: inset 0 -2px 0 0 #f2f0ed; }
.resultado #accordion .ui-icon { right: 0; left: auto; top: 0; margin: 0; background: url(../img/icones/icoAccordion.png) 0 0 no-repeat; width: 48px; height: 45px; }
.resultado #accordion .ui-accordion-header-active .ui-icon { background-position: 0 -45px; }
.resultado #accordion .ui-accordion-content { font-family: 'marvelregular'; font-size: 18px; border-radius: 0; color: #8e836f!important; background: #f6f4f2; border: 1px solid #d3cfc7; border-top: 0; }
.resultado #accordion .ui-accordion-content p { margin: 4px 0; }
.resultado #accordion .ui-accordion-content a { color: #8e836f!important; font-family: 'marvelitalic'; }
.resultado .linhaDoTempo { background: url(../img/backgrounds/timeline.png) 31px top repeat-y; font-family: 'marvelregular'; }
.resultado .linhaDoTempo .ano { background: #fe7c09; color: #ffcc00; font-size: 24px; float: left; box-shadow: inset 0 1px 0px 0px #ffb21f; border-radius: 5px; border: 1px solid #fe7c09; border-bottom: 3px solid #f0f0f0; padding: 4px 10px; margin: 33px 0 33px 4px; }
.resultado .linhaDoTempo .ano:first-child { margin-top: 0; }
.resultado .linhaDoTempo .data { margin: 7px 0; clear: both; width: 100%; }
.resultado .linhaDoTempo .data:last-child { margin: 7px 0 0 0; }
.resultado .linhaDoTempo .data:last-child .pin { height: 50px; }
.resultado .linhaDoTempo .pin { float: left; background: #f0f0f0; width: 18px; height: 18px; border-radius: 9px; margin: 25px 0 0 23px; }
.resultado .linhaDoTempo .pin .inner { margin: 5px auto; background: #fe7c09; width: 8px; height: 8px; border-radius: 4px; }
.resultado .linhaDoTempo .balao { border: 1px solid #d3cfc7; border-radius: 5px; box-shadow: inset 0 -4px 0px 0px #f2f0ed; width: 578px; float: right; position: relative; padding: 10px 0; background: #fff; }
.resultado .linhaDoTempo .esquerda { background: url(../img/icones/setaTimeline.png) 0 0 no-repeat; width: 9px; height: 18px; position: absolute; top: 25px; left: -9px; }
.resultado .linhaDoTempo .calendario { float: left; width: 60px; height: 100%; text-align: center; }
.resultado .linhaDoTempo .mes { font-size: 18px; }
.resultado .linhaDoTempo .dia { font-family: 'marvelbold'; font-size: 30px; }
.resultado .linhaDoTempo .info { float: left; padding: 0 0 0 20px; width: 480px; border-left: 1px solid #d3cfc7; }
.resultado .linhaDoTempo .tipo { font-family: 'marvelbold'; font-size: 23px; }
.resultado .linhaDoTempo .descricao { font-size: 18px; }
.resultado .linhaDoTempo .descricao p { margin: 5px 0; }
.resultado .linhaDoTempo .ico { background: url(../img/icones/icoTimeline.png) 0 0 no-repeat; width: 34px; height: 38px; position: absolute; top: -3px; right: 12px; }
.resultado .linhaDoTempo .ico.carrinho { background-position: 0 0; }
.resultado .linhaDoTempo .ico.mais { background-position: 0 -38px; }
.resultado .linhaDoTempo .ico.mascara { background-position: 0 -76px; }
.resultado .linhaDoTempo .ico.asterisco { background-position: 0 -114px;}
.resultado .linhaDoTempo .ico.sinistro { background-position: 0 -152px;}
.resultado .linhaDoTempo .ico.resumoLegal { background-position: 0 -190px;}
.resultado .linhaDoTempo .ico.resumoEstrutural { background-position: 0 -228px;}
.resultado .linhaDoTempo .ico.historicoDeRodagem { background-position: 0 -266px;}
.resultado .linhaDoTempo .ico.observacoes { background-position: 0 -304px;}
.resultado .linhaDoTempo .ico.renajud { background-position: 0 -342px;}
.resultado .linhaDoTempo .ico.desvalorizacaoMedia { background-position: 0 -380px;}
.resultado .linhaDoTempo .ico.especificacoesDeFabricaDoModelo { background-position: 0 -418px;}
.resultado .linhaDoTempo .ico.concorrentes { background-position: 0 -456px;}
.resultado .linhaDoTempo .ico.proprietarios { background-position: 0 -494px;}
.resultado .linhaDoTempo .ico.leilao { background-position: 0 -532px;}
.resultado .linhaDoTempo .ico.recall { background-position: 0 -570px;}
.resultado .linhaDoTempo .ico.duplicidadeDoMotor { background-position: 0 -608px;}
.resultado .linhaDoTempo .ico.gravames { background-position: 0 -646px;}
.resultado .linhaDoTempo .ico.multasNaPoliciaRodoviariaFederal { background-position: 0 -684px;}
.resultado .linhaDoTempo .ico.tabelaFipe { background-position: 0 -722px;}
.resultado .linhaDoTempo .ico.caracteristicasEstaduais { background-position: 0 -760px;}
.resultado .linhaDoTempo .ico.caracteristicasEDadosNacionais { background-position: 0 -798px;}
.resultado .linhaDoTempo img { border: 1px solid #8e836f; }
#detalhamento { font-family: 'marvelregular'; }
#detalhamento .ico { background: url(../img/icones/icoDetalhamento.png) 0 0 no-repeat; width: 50px; height: 51px; float: left; }
#detalhamento .ico.carNac { background-position: 0 0; }
#detalhamento .ico.carEst { background-position: 0 -51px; }
#detalhamento .ico.tabelaFipe { background-position: 0 -102px; }
#detalhamento .ico.precoDeMercado { background-position: 0 -153px; }
#detalhamento .ico.icoHistorico { background-position: 0 -204px; }
#detalhamento .ico.icoMultas { background-position: 0 -255px; }
#detalhamento .ico.icoGravames { background-position: 0 -306px; }
#detalhamento .ico.icoDpvat { background-position: 0 -357px; }
#detalhamento .ico.icoDuplicidade { background-position: 0 -408px; }
#detalhamento .ico.icoRecall { background-position: 0 -459px; }
#detalhamento .ico.icoLeilao { background-position: 0 -510px; }
#detalhamento .ico.icoProprietarios { background-position: 0 -561px; }
#detalhamento .ico.icoDecodificacao { background-position: 0 -612px; }
#detalhamento .ico.icoConcorrentes { background-position: 0 -663px; }
#detalhamento .ico.icoEspecificacoes { background-position: 0 -714px; }
#detalhamento .ico.icoDesvalorizacao { background-position: 0 -765px; }
#detalhamento .ico.icoRenajud { background-position: 0 -816px; }
#detalhamento .ico.icoSinistro { background-position: 0 -867px; }
#detalhamento .ico.icoObservacoes { background-position: 0 -918px; }
#detalhamento .ico.icoFeedback { background-position: 0 -969px; }
#detalhamento .ui-accordion-header { font-family: 'marvelbold'; font-size: 24px; color: #8e836f; height: 51px; padding: 0; border-radius: 0; box-shadow: inset 0 -4px 0px 0px #f2f0ed; border: 1px solid #d3cfc7; background: #ffffff; }
#detalhamento .ui-accordion-header .nome { float: left; padding: 10px 0 10px 15px; text-transform: none; }
#detalhamento .ui-accordion-header .ui-icon { right: 0; left: auto; top: 0; margin: 0; background: url(../img/icones/icoAccordion.png) 0 0 no-repeat; width: 48px; height: 45px; }
#detalhamento .ui-accordion-header.ui-accordion-header-active .ui-icon { background-position: 0 -45px; }
#detalhamento .ui-accordion-content { border-radius: 0; border: 1px solid #d3cfc7; border-top: 0; padding: 0; }
#detalhamento .ui-accordion-content > div { position: relative; overflow: hidden; margin: 0 0 6px 0; border-top: 1px solid #d3cfc7; border-bottom: 1px solid #d3cfc7; }
#detalhamento .ui-accordion-content > div:first-child { border-top: 0; }
#detalhamento .ui-accordion-content > div:last-child { margin: 0; border-bottom: 0; }
#detalhamento .holder { position: relative; }
#detalhamento .img { background: #eae2d3 url(../img/icones/imgDetalhamento.png) 0 0 no-repeat; float: left; width: 221px; border-right: 2px solid #e2d9c7; min-height: 100%; position: absolute; top: 0; left: 0; }
#detalhamento .img.licensiamento { background-position: 0 0; }
#detalhamento .img.tecnicos { background-position: -221px 0; }
#detalhamento .img.carga { background-position: -442px 0; }
#detalhamento .img.dadosDeCompra { background-position: -663px 0; }
#detalhamento .img.importacao { background-position: -884px 0; }
#detalhamento .img.leilao { background-position: -1105px 0; }
#detalhamento .img.veiculos { background-position: -1326px 0; }
#detalhamento .img.situacao { background-position: -1547px 0; }
#detalhamento .img.fotos { background-position: -1768px 0; }
#detalhamento .img.pin { background: #eae2d3 url(../img/icones/detalhamento/estaduais.jpg) 35px 0 no-repeat; }
#detalhamento .img.pin .nome { font-family: 'marvelbold'; font-size: 30px; color: #d5c9b1; text-transform: uppercase; margin: 35px 0 0 130px; }
#detalhamento .detalhes { float: left; font-size: 15px; width: 413px; margin: 0 0 0 223px; }
#detalhamento .detalhes .fleft { float: left; color: #8e836f; }
#detalhamento .detalhes .fright { float: right; color: #ffa000; font-family: 'marvelbold'; }
#detalhamento .detalhes > div { padding: 7px 15px 4px 15px; }
#detalhamento .detalhes > div:nth-child(odd) { background: #f9f8f3; }
#detalhamento .detalhes > div:nth-child(even) { background: #f4f1e9; }
#detalhamento .detalhes .titGravames { background: #eae2d3; padding: 0 60px; width: 101px; border-right: 2px solid #e2d9c7; min-height: 100%; position: absolute; top: 0; left: 0; color: #8e836f; }
#detalhamento .detalhes .titGravames span { margin: 15px 0 0 0; display: block; }
#detalhamento .detalhes .alerta { background: url(../img/icones/alerta.png) 0 0 no-repeat; padding: 4px 0 0 28px; margin: 3px 0; }
#detalhamento .detalhes .alerta span { color: #8e836f; }
#detalhamento table { width: 100%; text-align: center; font-size: 15px; margin: 0 0 6px 0; }
#detalhamento table thead { color: #ffffff; font-weight: normal; }
#detalhamento table thead th { background: #bdb19b; font-weight: normal; }
#detalhamento table thead td { background: #b3a68f; }
#detalhamento table tbody { color: #8e836f; }
#detalhamento table tbody tr:nth-child(odd) { background: #f4f1e9; }
#detalhamento table tbody tr:nth-child(even) { background: #f9f8f3; }
#detalhamento table tbody td { border-bottom: 1px solid #d3cfc7; }
#detalhamento table tbody td.nenhum { color: #ffa000; background: #fcfbf8; }
#detalhamento table td { border-right: 1px solid #d8cfbf; line-height: 120%; padding: 5px 12px; }
#detalhamento table td:last-child { border-right: 0; }
#detalhamento table th { line-height: 120%; padding: 5px; }
#detalhamento table:last-child { margin: 0; }
#detalhamento table:last-child tbody td { border-bottom: 0; }
#detalhamento table.dpvat td { border: 0; text-align: left; }
#detalhamento table.dpvat td span, #detalhamento table.dpvat td:last-child { color: #ffa000; }
#detalhamento table.dpvat td:last-child { text-align: right; }
#detalhamento .destaque td { color: #ffffff; background: #b3a68f; }
#detalhamento .introLeilao { color: #8e836f; font-size: 15px; font-family: 'marvelbold'; padding: 20px 50px; border-bottom: 0!important; }
#detalhamento .introLeilao .imagem { float: left; margin: 0 20px 0 0; }
#detalhamento .introLeilao .texto { float: left; }
#detalhamento .introLeilao .resumo { margin: 10px 0 0 0; }
#detalhamento .introLeilao .maisResumo { padding: 5px 0 0 0; border-top: 1px solid #d3cfc7; }
#detalhamento .introLeilao .maisResumo p { float: left; margin: 0 18px 0 0; }
#detalhamento .introLeilao .maisResumo p:last-child { margin: 0; }
#detalhamento .introLeilao .maisResumo span, #detalhamento .introLeilao .maisResumo a { color: #ffa000; }
#detalhamento .introducaoLeilao { margin: 0; }
#detalhamento .introducaoLeilao td { border: 0; }
#detalhamento .introducaoLeilao td:first-child { width: 200px; background: #aa9c83; }
#detalhamento .introducaoLeilao td:last-child { background: #b3a68f; text-align: left; }
#detalhamento img.modal { margin: 0 5px; cursor: pointer; }
#detalhamento .maisImg.img { background-image: none; margin: 0 auto; text-align: center; }
#detalhamento .maisImg .posicao { position: absolute; width: 100%; }
#detalhamento .maisImg .imagem { margin: 0 0 10px 0; }
#detalhamento .maisImg .legenda { color: #b3a68f; }
#detalhamento .observacoes { font-size: 15px; color: #8e836f; }
#detalhamento .observacoes li { margin: 12px 20px; }
#detalhamento .observacoes .dot { color: #ffa000; }
#detalhamento .valorDesvalorizacao .valorMedio { font-size: 14px; color: #ffe990; white-space: nowrap; }
#detalhamento .valorDesvalorizacao tbody td:first-child { background: #cbd219; font-size: 24px; color: #fff; }
#detalhamento .valorDesvalorizacao .bloco { font-size: 15px; padding: 5px 0; margin: 0 -12px; position: relative; }
#detalhamento .valorDesvalorizacao .bloco .desce { width: 0; height: 0; display: block; border: 4px solid transparent; border-top-color: #ffffff; position: absolute; top: 11px; left: 22px; }
#detalhamento .valorDesvalorizacao .bloco.laranja { background: #ffa000; color: #fff; margin-top: -5px; }
#detalhamento .valorDesvalorizacao .bloco.laranja .desce { border-top-color: #ffe26e; }
#detalhamento .valorDesvalorizacao .bloco.amarelo { background: #ffe990; color: #fe7c09; margin-bottom: -5px; }
#detalhamento .valorDesvalorizacao .bloco.amarelo .desce { border-top-color: #ffa000; }
#detalhamento .valorExpectativas { font-size: 15px; color: #8e836f; }
#detalhamento .valorExpectativas .tipo, #detalhamento .valorExpectativas .escolha { float: left; }
#detalhamento .valorExpectativas .tipo { margin: 18px; }
#detalhamento .valorExpectativas .escolha { margin: 18px 24px; }
#detalhamento .valorExpectativas input[type="radio"] { margin: 0 8px 0 0; }
#detalhamento .valorExpectativas input[type="submit"] { float: right; color: #fff; background: #ffa000; font-size: 24px; font-family: 'marvelbold'; box-shadow: inset 0 1px 0px 0px #f5c624; border: 1px solid #ffa000; padding: 14px 20px; }

/**** USUÁRIOS ****/
.usuariosLista { font-size: 21px; margin: 14px 0; }
.usuariosLista .usuario { border: 1px solid #d3cfc7; background: #ffffff; box-shadow: inset 0 -4px 0px 0px #f2f0ed; padding: 5px 0; margin: 8px 0; }
.usuariosLista .usuario .usuario.admin .ico { background-position: 0 -25px; }
.usuariosLista .usuario .ico { float: left; background: url(../img/icones/usuario.png) 0 0 no-repeat; width: 19px; height: 25px; margin: 5px 5px 0 15px; }
.usuariosLista .usuario .nome { float: left; font-family: 'marvelbold'; color: #8e836f; margin: 8px 0 0 15px; }
.usuariosLista .usuario .permissao { float: left; color: #cabfab; margin: 8px 0 0 5px; }
.usuariosLista .usuario .editar { float: right; font-family: 'marvelregular'; color: #8e836f; border-left: 1px solid #e9e7e3; padding: 8px 25px 8px 18px; }
.usuariosLista .usuario .editar:hover { color: #ffa000; }
.usuariosCadastro form, .usuariosEditar form, .credito form { margin: 32px 4px; float: left; }
.usuariosCadastro .detalhes, .usuariosEditar .detalhes, .credito .detalhes { background: url(../img/backgrounds/timeline.png) 19px top repeat-y; padding: 10px 0; }
.usuariosCadastro .detalhes:first-child, .usuariosEditar .detalhes:first-child, .credito .detalhes:first-child { padding-top: 0; }
.usuariosCadastro .detalhes:last-child, .usuariosEditar .detalhes:last-child, .credito .detalhes:last-child { background: none; margin-top: -10px; }
.usuariosCadastro .detalhes.ativo .editar, .usuariosEditar .detalhes.ativo .editar, .credito .detalhes.ativo .editar { display: none; }
.usuariosCadastro .detalhes select, .usuariosEditar .detalhes select, .credito .detalhes select { font-family: 'marvelbold'; font-size: 18px; color: #8e836f; }
.usuariosCadastro .detalhes.info.desativado .conteudo, .usuariosEditar .detalhes.info.desativado .conteudo, .credito .detalhes.info.desativado .conteudo { margin: 0px 55px 10px 55px; }
.usuariosCadastro .detalhes.info.desativado .ico, .usuariosEditar .detalhes.info.desativado .ico, .credito .detalhes.info.desativado .ico { background: #474747; color: #a0a0a0; box-shadow: inset 0 1px 0px 0px #6f6f6f; border: 1px solid #474747; }
.usuariosCadastro .detalhes.info.desativado label, .usuariosEditar .detalhes.info.desativado label, .credito .detalhes.info.desativado label { display: none; }
.usuariosCadastro .detalhes.info.desativado .input, .usuariosEditar .detalhes.info.desativado .input, .credito .detalhes.info.desativado .input { background: transparent; border: 0; box-shadow: none; }
.usuariosCadastro .detalhes.info.desativado .input input, .usuariosEditar .detalhes.info.desativado .input input, .credito .detalhes.info.desativado .input input { font-family: 'marvelitalic'; font-size: 18px; }
.usuariosCadastro .detalhes.info.desativado .botoes, .usuariosEditar .detalhes.info.desativado .botoes, .credito .detalhes.info.desativado .botoes { display: none; }
.usuariosCadastro .detalhes.senha.desativado .conteudo, .usuariosEditar .detalhes.senha.desativado .conteudo, .credito .detalhes.senha.desativado .conteudo { display: none; }
.usuariosCadastro .detalhes.senha.desativado .ico, .usuariosEditar .detalhes.senha.desativado .ico, .credito .detalhes.senha.desativado .ico { background: #474747; color: #a0a0a0; box-shadow: inset 0 1px 0px 0px #6f6f6f; border: 1px solid #474747; }
.usuariosCadastro .detalhes.privilegios.desativado .conteudo, .usuariosEditar .detalhes.privilegios.desativado .conteudo, .credito .detalhes.privilegios.desativado .conteudo { display: none; }
.usuariosCadastro .detalhes.privilegios.desativado .ico, .usuariosEditar .detalhes.privilegios.desativado .ico, .credito .detalhes.privilegios.desativado .ico { background: #474747; color: #a0a0a0; box-shadow: inset 0 1px 0px 0px #6f6f6f; border: 1px solid #474747; }
.usuariosCadastro .detalhes.contatos.desativado .conteudo, .usuariosEditar .detalhes.contatos.desativado .conteudo, .credito .detalhes.contatos.desativado .conteudo { margin: 0px 55px 10px 55px; }
.usuariosCadastro .detalhes.contatos.desativado .ico, .usuariosEditar .detalhes.contatos.desativado .ico, .credito .detalhes.contatos.desativado .ico { background: #474747; color: #a0a0a0; box-shadow: inset 0 1px 0px 0px #6f6f6f; border: 1px solid #474747; }
.usuariosCadastro .detalhes.contatos.desativado label, .usuariosEditar .detalhes.contatos.desativado label, .credito .detalhes.contatos.desativado label { font-family: 'marvelitalic'; font-size: 18px; line-height: 150%; margin: 0; }
.usuariosCadastro .detalhes.contatos.desativado .input, .usuariosEditar .detalhes.contatos.desativado .input, .credito .detalhes.contatos.desativado .input { background: transparent; border: 0; box-shadow: none; }
.usuariosCadastro .detalhes.contatos.desativado .input input, .usuariosEditar .detalhes.contatos.desativado .input input, .credito .detalhes.contatos.desativado .input input { font-family: 'marvelitalic'; font-size: 18px; }
.usuariosCadastro .detalhes.contatos.desativado .botoes, .usuariosEditar .detalhes.contatos.desativado .botoes, .credito .detalhes.contatos.desativado .botoes { display: none; }
.usuariosCadastro .detalhes.endereco.desativado .conteudo, .usuariosEditar .detalhes.endereco.desativado .conteudo, .credito .detalhes.endereco.desativado .conteudo { margin: 0px 55px 10px 55px; }
.usuariosCadastro .detalhes.endereco.desativado .ico, .usuariosEditar .detalhes.endereco.desativado .ico, .credito .detalhes.endereco.desativado .ico { background: #474747; color: #a0a0a0; box-shadow: inset 0 1px 0px 0px #6f6f6f; border: 1px solid #474747; }
.usuariosCadastro .detalhes.endereco.desativado label, .usuariosEditar .detalhes.endereco.desativado label, .credito .detalhes.endereco.desativado label { font-family: 'marvelitalic'; font-size: 18px; line-height: 150%; margin: 0; }
.usuariosCadastro .detalhes.endereco.desativado .input, .usuariosEditar .detalhes.endereco.desativado .input, .credito .detalhes.endereco.desativado .input { background: transparent; border: 0; box-shadow: none; }
.usuariosCadastro .detalhes.endereco.desativado .input input, .usuariosEditar .detalhes.endereco.desativado .input input, .credito .detalhes.endereco.desativado .input input { font-family: 'marvelitalic'; font-size: 18px; }
.usuariosCadastro .detalhes.endereco.desativado .botoes, .usuariosEditar .detalhes.endereco.desativado .botoes, .credito .detalhes.endereco.desativado .botoes { display: none; }
.usuariosCadastro .detalhes.escolha.desativado .conteudo, .usuariosEditar .detalhes.escolha.desativado .conteudo, .credito .detalhes.escolha.desativado .conteudo { display: none; }
.usuariosCadastro .detalhes.escolha.desativado .ico, .usuariosEditar .detalhes.escolha.desativado .ico, .credito .detalhes.escolha.desativado .ico { background: #474747; color: #a0a0a0; box-shadow: inset 0 1px 0px 0px #6f6f6f; border: 1px solid #474747; }
.usuariosCadastro .detalhes.escolha.desativado .quant, .usuariosEditar .detalhes.escolha.desativado .quant, .credito .detalhes.escolha.desativado .quant { display: block; }
.usuariosCadastro .detalhes.complementares.desativado .conteudo, .usuariosEditar .detalhes.complementares.desativado .conteudo, .credito .detalhes.complementares.desativado .conteudo { margin: 0 55px; padding: 0 0 10px 0; }
.usuariosCadastro .detalhes.complementares.desativado .ico, .usuariosEditar .detalhes.complementares.desativado .ico, .credito .detalhes.complementares.desativado .ico { background: #474747; color: #a0a0a0; box-shadow: inset 0 1px 0px 0px #6f6f6f; border: 1px solid #474747; }
.usuariosCadastro .detalhes.complementares.desativado label, .usuariosEditar .detalhes.complementares.desativado label, .credito .detalhes.complementares.desativado label { font-family: 'marvelitalic'; font-size: 18px; line-height: 175%; margin: 0; text-align: left; width: auto; }
.usuariosCadastro .detalhes.complementares.desativado .input, .usuariosEditar .detalhes.complementares.desativado .input, .credito .detalhes.complementares.desativado .input { background: transparent; border: 0; box-shadow: none; }
.usuariosCadastro .detalhes.complementares.desativado .input input, .usuariosEditar .detalhes.complementares.desativado .input input, .credito .detalhes.complementares.desativado .input input { font-family: 'marvelitalic'; font-size: 18px; }
.usuariosCadastro .detalhes.complementares.desativado .separador, .usuariosEditar .detalhes.complementares.desativado .separador, .credito .detalhes.complementares.desativado .separador { margin: 0; }
.usuariosCadastro .detalhes.complementares.desativado .botoes, .usuariosEditar .detalhes.complementares.desativado .botoes, .credito .detalhes.complementares.desativado .botoes, .usuariosCadastro .detalhes.complementares.desativado .descricao, .usuariosEditar .detalhes.complementares.desativado .descricao, .credito .detalhes.complementares.desativado .descricao, .usuariosCadastro .detalhes.complementares.desativado h2, .usuariosEditar .detalhes.complementares.desativado h2, .credito .detalhes.complementares.desativado h2 { display: none; }
.usuariosCadastro .detalhes.formaDePagamento.desativado .conteudo, .usuariosEditar .detalhes.formaDePagamento.desativado .conteudo, .credito .detalhes.formaDePagamento.desativado .conteudo { display: none; }
.usuariosCadastro .detalhes.formaDePagamento.desativado .ico, .usuariosEditar .detalhes.formaDePagamento.desativado .ico, .credito .detalhes.formaDePagamento.desativado .ico { background: #474747; color: #a0a0a0; box-shadow: inset 0 1px 0px 0px #6f6f6f; border: 1px solid #474747; }
.usuariosCadastro h3, .usuariosEditar h3, .credito h3 { font-family: 'marvelbold'; font-size: 21px; color: #8e836f; text-transform: uppercase; font-weight: normal; line-height: 190%; margin: 0; padding: 0; }
.usuariosCadastro h3 .ico, .usuariosEditar h3 .ico, .credito h3 .ico { background: #fe7c09; padding-top: 3px; font-family: 'marvelregular'; font-size: 24px; color: #ffcc00; width: 38px; height: 36px; float: left; text-align: center; line-height: 150%; border-radius: 5px; margin: 0 20px 0 0; box-shadow: inset 0 1px 0px 0px #ffc600; border: 1px solid #fe7c09; }
.usuariosCadastro h3 a, .usuariosEditar h3 a, .credito h3 a { text-transform: lowercase; font-size: 17px; color: #ffffff; background: #d0ccc5; border-radius: 0 5px 5px 0; padding: 4px; position: relative; top: -5px; margin: 0 0 0 26px; }
.usuariosCadastro h3 a .esquerda, .usuariosEditar h3 a .esquerda, .credito h3 a .esquerda { width: 0; height: 0; display: block; border: 13px solid transparent; border-right-color: #d0ccc5; position: absolute; top: 0px; left: -25px; }
.usuariosCadastro .conteudo, .usuariosEditar .conteudo, .credito .conteudo { margin: 10px 55px; position: relative; }
.usuariosCadastro .separador, .usuariosEditar .separador, .credito .separador { margin: 4px 0 7px 0; width:400px;}
.usuariosCadastro label, .usuariosEditar label, .credito label { float: left; font-family: 'marvelregular'; font-size: 18px; color: #8e836f; line-height: 195%; width: 62px; text-align: right; margin: 0 10px 0 0; display:inline-block;}
.usuariosCadastro .input, .usuariosEditar .input, .credito .input { float: left; border: 1px solid #e1dcd1; background: #ffffff; border-radius: 5px; padding: 4px 8px 1px 8px; box-shadow: inset 0 4px 0px 0px #f8f7f3;  display:inline-block;}
.usuariosCadastro .input input, .usuariosEditar .input input, .credito .input input { font-family: 'marvelregular'; font-size: 24px; color: #8e836f; }
.usuariosCadastro .botoes, .usuariosEditar .botoes, .credito .botoes { margin: 35px 0 17px 0;}
.usuariosCadastro .botoes{ display: inline-block;}
.usuariosCadastro .botoes a, .usuariosEditar .botoes a, .credito .botoes a { font-size: 24px; font-family: 'marvelbold'; background: #eeeae0; color: #b3a68f; padding: 11px 17px; border: 1px solid #e1dcd1; box-shadow: inset 0 1px 0px 0px #f2f0ed; border-radius: 5px; float: left; margin: 0 3px; }
.usuariosCadastro .botoes a.enviar, .usuariosEditar .botoes a.enviar, .credito .botoes a.enviar { background: #ffa000; color: #ffffff; box-shadow: inset 0 1px 0px 0px #ffc600; border: 1px solid #ffa000; padding: 11px 33px; }
.usuariosCadastro input[type="button"], .usuariosEditar input[type="button"], .credito input[type="button"], .usuariosCadastro input[type="submit"], .usuariosEditar input[type="submit"], .credito input[type="submit"] { font-size: 24px; font-family: 'marvelbold'; background: #eeeae0; color: #b3a68f; padding: 11px 17px 8px 17px; border: 1px solid #e1dcd1; box-shadow: inset 0 1px 0px 0px #f2f0ed; border-radius: 5px; float: left; margin: 0 3px; height: 49px; }
.usuariosCadastro input[type="button"]:hover, .usuariosEditar input[type="button"]:hover, .credito input[type="button"]:hover, .usuariosCadastro input[type="submit"]:hover, .usuariosEditar input[type="submit"]:hover, .credito input[type="submit"]:hover { background: #eeeae0 url(../img/backgrounds/btnVisualizar.png) 0 -35px repeat-x; }
.usuariosCadastro input[type="button"].proxima, .usuariosEditar input[type="button"].proxima, .credito input[type="button"].proxima, .usuariosCadastro input[type="submit"].proxima, .usuariosEditar input[type="submit"].proxima, .credito input[type="submit"].proxima, .usuariosCadastro input[type="button"].concluir, .usuariosEditar input[type="button"].concluir, .credito input[type="button"].concluir, .usuariosCadastro input[type="submit"].concluir, .usuariosEditar input[type="submit"].concluir, .credito input[type="submit"].concluir { background: url(../img/backgrounds/btnConsultar.png) 0 0 repeat; color: #ffffff; border: 1px solid #ffa000; padding: 11px 33px 8px 33px; }
.usuariosCadastro input[type="button"].proxima:hover, .usuariosEditar input[type="button"].proxima:hover, .credito input[type="button"].proxima:hover, .usuariosCadastro input[type="submit"].proxima:hover, .usuariosEditar input[type="submit"].proxima:hover, .credito input[type="submit"].proxima:hover, .usuariosCadastro input[type="button"].concluir:hover, .usuariosEditar input[type="button"].concluir:hover, .credito input[type="button"].concluir:hover, .usuariosCadastro input[type="submit"].concluir:hover, .usuariosEditar input[type="submit"].concluir:hover, .credito input[type="submit"].concluir:hover { background: url(../img/backgrounds/btnConsultar.png) 0 -48px repeat; }
 .credito input[type="button"].disabled.proxima,.credito input[type="button"]:disabled.proxima{ background: #eeeae0; border-color:#e1dcd1; color: #c3b7a1;}
.usuariosCadastro select, .usuariosEditar select, .credito select { float: left; }
.usuariosCadastro .senha label, .usuariosEditar .senha label, .credito .senha label { width: 140px; }
.usuariosCadastro .privilegios label, .usuariosEditar .privilegios label, .credito .privilegios label { width: 140px; }
.usuariosCadastro .contatos label, .usuariosEditar .contatos label, .credito .contatos label { width: 70px; }
.usuariosCadastro .endereco label, .usuariosEditar .endereco label, .credito .endereco label { width: 100px; }
.usuariosCadastro .escolha .quant, .usuariosEditar .escolha .quant, .credito .escolha .quant { display: none; font-family: 'marvelitalic'; color: #8e836f; font-size: 18px; margin: 0 0 0 60px; }
.usuariosCadastro .escolha .quant input, .usuariosEditar .escolha .quant input, .credito .escolha .quant input { font-family: 'marvelitalic'; color: #8e836f; font-size: 18px; }
.usuariosCadastro .complementares, .usuariosEditar .complementares, .credito .complementares { width: 700px; }
.usuariosCadastro .complementares h2, .usuariosEditar .complementares h2, .credito .complementares h2 { border-bottom: 1px solid #e4e1db; margin: 10px 0; }
.usuariosCadastro .complementares .descricao, .usuariosEditar .complementares .descricao, .credito .complementares .descricao { font-size: 18px; }
.usuariosCadastro .complementares .descricao p, .usuariosEditar .complementares .descricao p, .credito .complementares .descricao p { margin: 0 0 24px 0; }
.usuariosCadastro .complementares label, .usuariosEditar .complementares label, .credito .complementares label { width: 100px; }
.usuariosCadastro .formaDePagamento .forma{ width:680px;}
.usuariosCadastro .formaDePagamento .forma a, .usuariosEditar .formaDePagamento .forma a, .credito .formaDePagamento .forma a { background: url(../img/backgrounds/formaDePagamento.jpg) 0 0 repeat-x; font-family: 'marvelbold'; font-size: 18px; color: #8e836f; border: 1px solid #d3cfc7; border-radius: 5px; padding: 13px 36px; float: left; margin: 0 5px; }
.usuariosCadastro .formaDePagamento .forma a.ativo, .usuariosEditar .formaDePagamento .forma a.ativo, .credito .formaDePagamento .forma a.ativo { background-position: 0 -46px; border-color: #ffa508; color: #ffffff; }
.usuariosCadastro .formaDePagamento .pagamento, .usuariosEditar .formaDePagamento .pagamento, .credito .formaDePagamento .pagamento { width: 630px; float: left; margin: -7px 0 0 0; display: none; }
.usuariosCadastro .formaDePagamento .pagamento .instrucoes, .usuariosEditar .formaDePagamento .pagamento .instrucoes, .credito .formaDePagamento .pagamento .instrucoes { width: 630px; background: #ffffff; border: 1px solid #d3cfc7; border-radius: 5px; position: relative; padding: 20px; box-shadow: inset 0 -4px 0px 0px #f8f7f3; }
.usuariosCadastro .formaDePagamento .pagamento .imgCartoes, .usuariosEditar .formaDePagamento .pagamento .imgCartoes, .credito .formaDePagamento .pagamento .imgCartoes { width: 220px; position: absolute; top: 65px; right: 20px; border: 1px solid #d3cfc7; border-radius: 5px; padding: 10px; }
.usuariosCadastro .formaDePagamento .pagamento .imgCartoes h3, .usuariosEditar .formaDePagamento .pagamento .imgCartoes h3, .credito .formaDePagamento .pagamento .imgCartoes h3 { font-family: 'marvelregular'; font-size: 18px; text-align: center; text-transform: none; margin: 0; padding: 0 0 8px 0; line-height: normal; }
.usuariosCadastro .formaDePagamento .pagamento .imgCartoes .bandeira, .usuariosEditar .formaDePagamento .pagamento .imgCartoes .bandeira, .credito .formaDePagamento .pagamento .imgCartoes .bandeira { background: url(../img/icones/bandeiras.png) 0 0 no-repeat; float: left; height: 16px; margin: 0 10px; }
.usuariosCadastro .formaDePagamento .pagamento .imgCartoes .visa, .usuariosEditar .formaDePagamento .pagamento .imgCartoes .visa, .credito .formaDePagamento .pagamento .imgCartoes .visa { background-position: 0 0; width: 31px; }
.usuariosCadastro .formaDePagamento .pagamento .imgCartoes .master, .usuariosEditar .formaDePagamento .pagamento .imgCartoes .master, .credito .formaDePagamento .pagamento .imgCartoes .master { background-position: -31px 0; width: 29px; }
.usuariosCadastro .formaDePagamento .pagamento .imgCartoes .dinners, .usuariosEditar .formaDePagamento .pagamento .imgCartoes .dinners, .credito .formaDePagamento .pagamento .imgCartoes .dinners { background-position: -60px 0; width: 26px; }
.usuariosCadastro .formaDePagamento .pagamento .imgCartoes .aexpress, .usuariosEditar .formaDePagamento .pagamento .imgCartoes .aexpress, .credito .formaDePagamento .pagamento .imgCartoes .aexpress { background-position: -86px 0; width: 18px; }
.usuariosCadastro .formaDePagamento .pagamento .imgCartoes .elo, .usuariosEditar .formaDePagamento .pagamento .imgCartoes .elo, .credito .formaDePagamento .pagamento .imgCartoes .elo { background-position: -104px 0; width: 16px; }
.usuariosCadastro .formaDePagamento .pagamento .cima, .usuariosEditar .formaDePagamento .pagamento .cima, .credito .formaDePagamento .pagamento .cima { width: 0; height: 0; display: block; border: 9px solid transparent; border-bottom-color: #ffffff; position: absolute; top: -18px; }
.usuariosCadastro .formaDePagamento .pagamento h2, .usuariosEditar .formaDePagamento .pagamento h2, .credito .formaDePagamento .pagamento h2 { font-family: 'marvelbold'; font-size: 20px; border-bottom: 1px solid #e1ddd5; margin: 0 0 20px 0; padding: 0 0 5px 0; }
.usuariosCadastro .formaDePagamento .pagamento .alerta, .usuariosEditar .formaDePagamento .pagamento .alerta, .credito .formaDePagamento .pagamento .alerta { margin-bottom: 20px; }
.usuariosCadastro .formaDePagamento .pagamento .bancos td, .usuariosEditar .formaDePagamento .pagamento .bancos td, .credito .formaDePagamento .pagamento .bancos td { text-align: center; margin: 0 auto; vertical-align: middle; padding: 10px 25px; margin: 0; }
.usuariosCadastro .formaDePagamento .pagamento.cartaoDeCredito .cima, .usuariosEditar .formaDePagamento .pagamento.cartaoDeCredito .cima, .credito .formaDePagamento .pagamento.cartaoDeCredito .cima { left: 80px; }
.usuariosCadastro .formaDePagamento .pagamento.cartaoDeCredito label, .usuariosEditar .formaDePagamento .pagamento.cartaoDeCredito label, .credito .formaDePagamento .pagamento.cartaoDeCredito label { width: 100px; }
.usuariosCadastro .formaDePagamento .pagamento.cartaoDeCredito .topico, .usuariosEditar .formaDePagamento .pagamento.cartaoDeCredito .topico, .credito .formaDePagamento .pagamento.cartaoDeCredito .topico { font-size: 18px; margin: 0 0 10px 70px; }
.usuariosCadastro .formaDePagamento .pagamento.cartaoDeCredito .outroEndereco, .usuariosEditar .formaDePagamento .pagamento.cartaoDeCredito .outroEndereco, .credito .formaDePagamento .pagamento.cartaoDeCredito .outroEndereco { display: none; }
.usuariosCadastro .formaDePagamento .pagamento.boleto .cima, .usuariosEditar .formaDePagamento .pagamento.boleto .cima, .credito .formaDePagamento .pagamento.boleto .cima { left: 238px; }
.usuariosCadastro .formaDePagamento .pagamento.depositoOnline .cima, .usuariosEditar .formaDePagamento .pagamento.depositoOnline .cima, .credito .formaDePagamento .pagamento.depositoOnline .cima { right: 270px; }
.usuariosCadastro .formaDePagamento .pagamento.depositoEmConta .cima, .usuariosEditar .formaDePagamento .pagamento.depositoEmConta .cima, .credito .formaDePagamento .pagamento.depositoEmConta .cima { right: 88px; }
.usuariosMenu { border: 1px solid #d3cfc7; float: right; border-radius: 5px; background: #ffffff; font-size: 24px; font-family: 'marvelbold'; text-align: left; width: 202px; }
.usuariosMenu .nivel1 .ico { background: url(../img/icones/usuarios.png) 0 -24px no-repeat; width: 24px; height: 24px; float: left; }
.usuariosMenu .nivel1 > li { color: #ffa000; box-shadow: inset 0 -4px 0px 0px #f2f0ed; }
.usuariosMenu .nivel1 > li .desc { padding: 6px 15px; box-shadow: inset 0 -4px 0px 0px #f2f0ed; }
.usuariosMenu .nivel1 > li .nome { margin: 4px 0 0 15px; float: left; }
.usuariosMenu .nivel2 { border-top: 1px solid #d3cfc7; padding: 10px 15px; box-shadow: inset 0 4px 0px 0px #f5f5f5; }
.usuariosMenu .nivel2 li { border-bottom: 1px solid #eeeae0; border-radius: 5px; overflow: hidden; }
.usuariosMenu .nivel2 li:last-child { border: 0; }
.usuariosMenu .nivel2 li:last-child a { font-family: 'marvelbold'; color: #6f6552; background: none; }
.usuariosMenu .nivel2 a { font-size: 20px; font-family: 'marvelregular'; color: #7b715f; padding: 6px 8px; float: left; width: 100%; }
.usuariosMenu .nivel2 a:hover { background: #f6f3eb; }

/**** CRÉDITOS ****/
.creditosMenu { border: 1px solid #d3cfc7; float: right; border-radius: 5px; background: #ffffff; font-size: 24px; font-family: 'marvelbold'; text-align: left; width: 210px; position: absolute; top: 0; right: 0; }
.creditosMenu .nivel1 .ico { background: url(../img/icones/tabela.png) 0 0 no-repeat; width: 31px; height: 33px; float: left; }
.creditosMenu .nivel1 > li { color: #ffa000; box-shadow: inset 0 -4px 0px 0px #f2f0ed; }
.creditosMenu .nivel1 > li .desc { padding: 8px 15px; box-shadow: inset 0 -4px 0px 0px #f2f0ed; }
.creditosMenu .nivel1 > li .nome { margin: 4px 0 0 15px; float: left; }
.creditosMenu .nivel2 { border-top: 1px solid #d3cfc7; padding: 5px 15px; box-shadow: inset 0 4px 0px 0px #f5f5f5; font-family: 'marvelregular'; font-size: 15px; color: #8e836f; }
.creditosMenu .nivel2 li { padding: 6px 0; border-bottom: 1px solid #eeeae0; }
.creditosMenu .nivel2 li:first-child{ height:36px; width:180px; display:inline-block;}
.creditosMenu .nivel2 li:last-child { border: 0; }
.creditosMenu .nivel2 .linha { margin: 5px 0; }
.creditosMenu .nivel2 .linha span { color: #ffa000; }
.creditosMenu .nivel2 .fleft { float: left; }
.creditosMenu .nivel2 .fright { float: right; }
.credito { position: relative; }
.credito .quantidade { margin: 20px 0; }
.credito .quantidade a { background: url(../img/backgrounds/btnConsultar.png) 0 0 repeat; border: 1px solid #ffa000; border-radius: 5px; color: #fff; font-family: 'marvelbold'; font-size: 27px; padding: 10px 18px 10px 14px; float: left; margin: 0 5px; position: relative; }
.credito .quantidade a.outros { padding: 10px 18px; text-transform: uppercase; }
.credito .quantidade a .OQ { float: left; background: #ffffff url(../img/icones/quantidade.png) 3px -45px no-repeat; border-radius: 5px; width: 91px; position: absolute; top: 6px; right: 5px; display: none; }
.credito .quantidade a .OQ input { color: #ffa000; font-family: 'marvelbold'; font-size: 24px; margin: 0 0 0 30px; }
.credito .quantidade a i { background: url(../img/icones/quantidade.png) 0 0 no-repeat; width: 24px; height: 24px; float: left; margin: 0 15px 0 0; }
.credito .quantidade a:hover { background: url(../img/backgrounds/btnConsultar.png) 0 -48px repeat; }
.credito .quantidade a:hover i { background-position: 0 -24px; }
.credito .quantidade a.ativo { background-position: 0 -96px; border: 1px solid #DEE638; }
.credito .quantidade a.ativo i { background-position: 0 -24px; }
.credito .alerta i { background: url(../img/icones/alerta.png) 0 0 no-repeat; width: 22px; height: 22px; float: left; }
.credito .alerta p { float: left; padding: 5px 0 5px 10px; }
.credito .alerta a { float: left; font-family: 'marvelitalic'; color: #8e836f; margin: 0 0 0 5px; text-decoration: underline; padding: 5px 0; }
.credito .tabela { border: 1px solid #d3cfc7; float: left; border-radius: 5px; background: #ffffff; font-size: 24px; font-family: 'marvelbold'; text-align: left; width: 383px; }
.credito .tabela .nivel1 .ico { background: url(../img/icones/tabela.png) 0 0 no-repeat; width: 31px; height: 33px; float: left; }
.credito .tabela .nivel1 > li { color: #ffa000; box-shadow: inset 0 -4px 0px 0px #f2f0ed; }
.credito .tabela .nivel1 > li .desc { padding: 6px 15px; box-shadow: inset 0 -4px 0px 0px #f2f0ed; }
.credito .tabela .nivel1 > li .nome { margin: 4px 0 0 15px; float: left; }
.credito .tabela .nivel2 { border-top: 1px solid #d3cfc7; padding: 0 15px; box-shadow: inset 0 4px 0px 0px #f5f5f5; color: #8e836f; }
.credito .tabela .nivel2 li { padding: 8px 0 6px 0; border-bottom: 1px solid #eeeae0; }
.credito .tabela .nivel2 li:last-child { border: 0; }
.credito .tabela .nivel2 li:last-child a { font-family: 'marvelbold'; color: #6f6552; }
.credito .tabela .nivel2 a { font-size: 15px; font-family: 'marvelregular'; color: #cabeaa; }
.credito .tabela .nivel2 .fleft { float: left; }
.credito .tabela .nivel2 .fright { float: right; }
.credito .tabela .nivel2 .grp { font-family: 'marvelbold'; font-size: 20px; }
.credito .tabela .nivel2 .sgrp { font-family: 'marvelregular'; font-size: 18px; }
.credito .formasDePagamento { width: 240px; position: absolute; bottom: 200px; left: 400px; }
.credito .formasDePagamento h2 { font-family: 'marvelbold'; font-size: 24px; color: #ffa000; }
.credito .formasDePagamento h3 { font-family: 'marvelregular'; font-size: 18px; text-transform: none; border-bottom: 1px solid #e3e0d9; margin: 10px 0; padding: 8px 0; line-height: normal; }
.credito .formasDePagamento .bandeira { background: url(../img/icones/bandeiras.png) 0 0 no-repeat; float: left; height: 16px; margin: 0 10px; }
.credito .formasDePagamento .visa { background-position: 0 0; width: 31px; }
.credito .formasDePagamento .master { background-position: -31px 0; width: 29px; }
.credito .formasDePagamento .dinners { background-position: -60px 0; width: 26px; }
.credito .formasDePagamento .aexpress { background-position: -86px 0; width: 18px; }
.credito .formasDePagamento .elo { background-position: -104px 0; width: 16px; }
.credito .formasDePagamento .bradesco { background-position: 0 -16px; width: 16px; }
.credito .formasDePagamento .itau { background-position: -16px -16px; width: 18px; }
.credito .formasDePagamento .bb { background-position: -34px -16px; width: 16px; }
.credito .formasDePagamento .cube { background-position: -50px -16px; width: 18px; }
.credito .formasDePagamento .hsbc { background-position: -68px -16px; width: 26px; }
.credito .formasDePagamento .pboleto { background-position: 0 -32px; width: 35px; }
.credito .formasDePagamento .pagseguro { background-position: -35px -32px; width: 19px; }

/**** NOVA CONSULTA ****/
.pagNovaConsulta .detalhes { width: 600px; }
.pagNovaConsulta .detalhes.ativo .conteudo{ display:block!important;}
.pagNovaConsulta .botoes { margin: 0; }
.pagNovaConsulta .identificador { margin: 0 0 0 20px; }
.pagNovaConsulta .identificador.quilometragem { margin-top: 4px; }
.pagNovaConsulta .chassi img { margin-top: 4px; }
.pagNovaConsulta h2 { font-size: 18px; }
.pagNovaConsulta label { font-size: 21px; width: 130px!important; }
.pagNovaConsulta .novaConsulta .nivel2 { width: 630px!important; }
.pagNovaConsulta .novaConsulta .nivel2 li > .titulo, .pagNovaConsulta .novaConsulta .nivel2 li > .descricao, .pagNovaConsulta .novaConsulta .nivel2 li > .adicional { width: 420px; float: left; }
.pagNovaConsulta .novaConsulta .nivel2 .info { width: 200px; float: right; }
.pagNovaConsulta .novaConsulta .nivel2 .visualizar { width: 186px; margin-right: 13px!important; }
.pagNovaConsulta .novaConsulta .nivel2 .escolhas { width: 400px; float: left; }
.pagNovaConsulta .camada { font-family: 'marvelitalic'; font-size: 18px; margin: 0 0 30px 60px; }
.novaConsultaMenu { border: 1px solid #d3cfc7; float: right; border-radius: 5px; background: #ffffff; font-size: 24px; font-family: 'marvelbold'; text-align: left; width: 210px; position: absolute; top: 0; right: 0; }
.novaConsultaMenu .nivel1 .ico { background: url(../img/icones/tabela.png) 0 0 no-repeat; width: 31px; height: 33px; float: left; }
.novaConsultaMenu .nivel1 > li { color: #ffa000; box-shadow: inset 0 -4px 0px 0px #f2f0ed; }
.novaConsultaMenu .nivel1 > li .desc { padding: 8px 15px; box-shadow: inset 0 -4px 0px 0px #f2f0ed; }
.novaConsultaMenu .nivel1 > li .nome { margin: 4px 0 0 15px; float: left; }
.novaConsultaMenu .nivel2 { border-top: 1px solid #d3cfc7; padding: 14px 15px; box-shadow: inset 0 4px 0px 0px #f5f5f5; font-family: 'marvelregular'; font-size: 15px; color: #8e836f; }
.novaConsultaMenu .nivel2 li { padding: 0 0; border-bottom: 1px solid #eeeae0; }
.novaConsultaMenu .nivel2 li:last-child { border: 0; }
.novaConsultaMenu .nivel2 .linha { margin: 5px 0; }
.novaConsultaMenu .nivel2 .linha span { color: #ffa000; }
.novaConsultaMenu .nivel2 .fleft { float: left; }
.novaConsultaMenu .nivel2 .fright { float: right; }
.novaConsultaMenu .titulo { font-size: 18px!important; color: #7b715f; }
.novaConsultaMenu .descricaoTitulo { border-top: 1px solid #eeeae0; padding-top: 7px; }
.novaConsultaMenu .descricaoTitulo .linha { margin: 0 0 14px 0; }

/**** FOOTER ****/
.footer { border-top: 4px solid #e7e3dc; }
.footer .consultas .nivel2 { bottom: 64px; top: auto; border-bottom: 7px solid #f0ede4; border-top: 1px solid #f0ede4; box-shadow: 0 -6px 12px 1px #d6d2cb; }
.footer .consultas .nivel2 .cima { border-top-color: #f0ede4; border-bottom-color: transparent; bottom: -27px; top: auto; }

/**** MODAIS ****/
.janelaModal { position: absolute; z-index: 9000; background-color: #000; top: 0; left: 0; display: none; cursor: pointer; }
.janelaModal img { position: fixed; width: auto; }
.ui-datepicker { font-size: 11px!important; }
#scrollbar1 { width: 590px; clear: both; margin: 20px 0 10px; background: #ffffff; border: 1px solid #e4e0d6; border-radius: 5px; padding: 6px 4px 6px 12px; font-family: 'marvelregular'; font-size: 14px; color: #8e836f; text-transform: none; }
#scrollbar1 .viewport { width: 570px; height: 200px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end, #scrollbar1 .thumb { background-color: #dcd5c1; border-radius: 10px; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { background-color: #f6f3eb; height: 100%; width: 13px; position: relative; padding: 0 1px; border-radius: 10px; }
#scrollbar1 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
span.customSelect { font-size: 18px; font-family: 'marvelregular'; background: #eeeae0 url(../img/icones/select.png) no-repeat center right; color: #8e836f; padding: 7px 30px 7px 8px; border: 1px solid #e1dcd1; border-radius: 5px; box-shadow: inset 0 1px 0px 0px #f2efe7; float: left; margin: 0 2px; }
span.customSelect.changed { background-color: #f0dea4; }
.customSelectInner { width: auto!important; }
select { font-family: 'marvelregular'; left: 2px; top: 0; }
.wrapSelect { float: left; position: relative; left: 0; top: 0; display: inline-block;}
#mask { position: fixed; left: 0; top: 0; z-index: 9000; background-color: #000; display: none; }
#boxes .window { position: absolute; left: 0; top: 0; display: none; z-index: 9999; background: #ffffff; border: 1px solid #d3cfc7; border-radius: 5px; padding: 20px; width: 526px; }
#boxes .window#saldoInsuficiente { top: 0!important; }
#boxes .window h1 { font-family: 'marvelbold'; font-size: 23px; color: #fe7c09; padding: 0 0 12px 0; }
#boxes .window > p { font-family: 'marvelregular'; font-size: 18px; color: #8e836f; padding: 12px 0; }
#boxes .window h3 { font-family: 'marvelbold'; font-size: 21px; color: #8e836f; text-transform: uppercase; font-weight: normal; line-height: 190%; margin: 0; padding: 0; }
#boxes .window .quant { display: none; }
#boxes .window .quantidade { margin: 20px 0; }
#boxes .window .quantidade a { background: url(../img/backgrounds/btnConsultar.png) 0 0 repeat; border: 1px solid #ffa000; border-radius: 5px; color: #fff; font-family: 'marvelbold'; font-size: 27px; padding: 10px 18px 10px 14px; float: left; margin: 0 5px; position: relative; }
#boxes .window .quantidade a.outros { padding: 10px 18px; text-transform: uppercase; }
#boxes .window .quantidade a .OQ { float: left; background: #ffffff url(../img/icones/quantidade.png) 3px -45px no-repeat; border-radius: 5px; width: 85px; position: absolute; top: 6px; right: 5px; display: none; }
#boxes .window .quantidade a .OQ input { color: #ffa000; font-family: 'marvelbold'; font-size: 27px; margin: 0 0 0 30px; }
#boxes .window .quantidade a i { background: url(../img/icones/quantidade.png) 0 0 no-repeat; width: 24px; height: 24px; float: left; margin: 0 15px 0 0; }
#boxes .window .quantidade a:hover { background: url(../img/backgrounds/btnConsultar.png) 0 -48px repeat; }
#boxes .window .quantidade a:hover i { background-position: 0 -24px; }
#boxes .window .quantidade a.ativo { background-position: 0 -96px; border: 1px solid #DEE638; }
#boxes .window .quantidade a.ativo i { background-position: 0 -24px; }
#boxes .window .alerta { font-family: 'marvelregular'; color: #8e836f; }
#boxes .window .alerta i { background: url(../img/icones/alerta.png) 0 0 no-repeat; width: 22px; height: 22px; float: left; }
#boxes .window .alerta p { float: left; padding: 5px 0 5px 10px; }
#boxes .window .alerta a { float: left; font-family: 'marvelitalic'; color: #8e836f; margin: 0 0 0 5px; text-decoration: underline; padding: 5px 0; }
#boxes .window .tabela { border: 1px solid #d3cfc7; float: left; border-radius: 5px; background: #ffffff; font-size: 24px; font-family: 'marvelbold'; text-align: left; width: 320px; }
#boxes .window .tabela .nivel1 .ico { background: url(../img/icones/tabela.png) 0 0 no-repeat; width: 31px; height: 33px; float: left; }
#boxes .window .tabela .nivel1 > li { color: #ffa000; box-shadow: inset 0 -4px 0px 0px #f2f0ed; }
#boxes .window .tabela .nivel1 > li .desc { padding: 6px 15px; box-shadow: inset 0 -4px 0px 0px #f2f0ed; }
#boxes .window .tabela .nivel1 > li .nome { margin: 4px 0 0 15px; float: left; }
#boxes .window .tabela .nivel2 { border-top: 1px solid #d3cfc7; padding: 0 15px; box-shadow: inset 0 4px 0px 0px #f5f5f5; color: #8e836f; }
#boxes .window .tabela .nivel2 li { padding: 8px 0 6px 0; border-bottom: 1px solid #eeeae0; }
#boxes .window .tabela .nivel2 li:last-child { border: 0; }
#boxes .window .tabela .nivel2 li:last-child a { font-family: 'marvelbold'; color: #6f6552; }
#boxes .window .tabela .nivel2 a { font-size: 15px; font-family: 'marvelregular'; color: #cabeaa; }
#boxes .window .tabela .nivel2 .fleft { float: left; }
#boxes .window .tabela .nivel2 .fright { float: right; }
#boxes .window .tabela .nivel2 .grp { font-family: 'marvelbold'; font-size: 20px; }
#boxes .window .tabela .nivel2 .sgrp { font-family: 'marvelregular'; font-size: 18px; }
#boxes .window .formasDePagamento { width: 124px; position: absolute; bottom: 100px; left: 365px; }
#boxes .window .formasDePagamento h2 { font-family: 'marvelbold'; font-size: 24px; color: #ffa000; }
#boxes .window .formasDePagamento h3 { font-family: 'marvelregular'; font-size: 18px; text-transform: none; border-bottom: 1px solid #e3e0d9; margin: 10px 0; padding: 8px 0; line-height: normal; }
#boxes .window .formasDePagamento .bandeira { background: url(../img/icones/bandeiras.png) 0 0 no-repeat; float: left; height: 16px; margin: 0 10px 10px 10px; }
#boxes .window .formasDePagamento .visa { background-position: 0 0; width: 31px; }
#boxes .window .formasDePagamento .master { background-position: -31px 0; width: 29px; }
#boxes .window .formasDePagamento .dinners { background-position: -60px 0; width: 26px; }
#boxes .window .formasDePagamento .aexpress { background-position: -86px 0; width: 18px; }
#boxes .window .formasDePagamento .elo { background-position: -104px 0; width: 16px; }
#boxes .window .formasDePagamento .bradesco { background-position: 0 -16px; width: 16px; }
#boxes .window .formasDePagamento .itau { background-position: -16px -16px; width: 18px; }
#boxes .window .formasDePagamento .bb { background-position: -34px -16px; width: 16px; }
#boxes .window .formasDePagamento .cube { background-position: -50px -16px; width: 18px; }
#boxes .window .formasDePagamento .hsbc { background-position: -68px -16px; width: 26px; }
#boxes .window .formasDePagamento .pboleto { background-position: 0 -32px; width: 35px; }
#boxes .window .formasDePagamento .pagseguro { background-position: -35px -32px; width: 19px; }
#boxes .window .botoes { margin: 35px 0 17px 0; }
#boxes .window .botoes input[type="button"] { font-size: 24px; font-family: 'marvelbold'; background: #eeeae0; color: #b3a68f; padding: 11px 17px 8px 17px; border: 1px solid #e1dcd1; box-shadow: inset 0 1px 0px 0px #f2f0ed; border-radius: 5px; float: left; margin: 0 3px; height: 49px; }
#boxes .window .botoes input[type="button"]:hover { background: url(../img/backgrounds/btnVisualizar.png) 0 -34px repeat; }
#boxes .window .botoes input[type="button"].proxima { background: url(../img/backgrounds/btnConsultar.png) 0 0 repeat; color: #ffffff; border: 1px solid #ffa000; padding: 11px 33px 8px 33px; }
#boxes .window .botoes input[type="button"].proxima:hover { background-position: 0 -48px; }
.close { background: url(../img/icones/sair.png) 0 0 no-repeat; width: 25px; height: 25px; float: right; margin: -10px -10px 0 0; }
.lt-ie8 .consultas .nivel1 .outras { width: 118px; }
.lt-ie8 .consultas .nivel1 .outras span { margin-top: -35px; }
