div:after, ul:after, ol:after, li:after, form:after{ content:"."; display:block; clear:both; visibility:hidden; height:0; overflow:hidden; }
ul,li{ margin:0; padding:0; list-style:none;}
a,img,input{ border:0; outline:0; text-decoration:none;}
input{ background:transparent}
h1,h2,h3,p{ margin:0; padding:0; font-weight:normal}

@font-face {
    font-family: 'marvelbold';
    src: url('fonts/marvel-bold-webfont.eot');
    src: url('fonts/marvel-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/marvel-bold-webfont.woff') format('woff'),
         url('fonts/marvel-bold-webfont.ttf') format('truetype'),
         url('fonts/marvel-bold-webfont.svg#marvelbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'marvelregular';
    src: url('fonts/marvel-regular-webfont.eot');
    src: url('fonts/marvel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/marvel-regular-webfont.woff') format('woff'),
         url('fonts/marvel-regular-webfont.ttf') format('truetype'),
         url('fonts/marvel-regular-webfont.svg#marvelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'marvelitalic';
    src: url('fonts/marvel-italic-webfont.eot');
    src: url('fonts/marvel-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/marvel-italic-webfont.woff') format('woff'),
         url('fonts/marvel-italic-webfont.ttf') format('truetype'),
         url('fonts/marvel-italic-webfont.svg#marvelitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*body{ background:url(../img/deletar.jpg) center top no-repeat;}*/
body{ background:url(../img/backgrounds/geral.jpg) 0 0 repeat;}

.wrap{ width:960px; margin:0 auto;}

.header{ background:url(../img/backgrounds/header.png) 0 0 repeat-x; position:fixed; top:0; left:0; width:100%; z-index:999;
	.inicial{ box-shadow: 0 10px 6px -6px #c3c3c3; position: relative; z-index: 2;}
	.logo{ background:url(../img/logo.png) 0 0 no-repeat; width:341px; height:30px; float:left; margin: 12px 7px;}
}

.ferramentas{ float:right; margin: 16px 10px;
	>li{ float:left; border-right:2px dotted #464545;
		&:nth-child(3),&:nth-child(4){ border:0;}
	}
	.busca{ background:url(../img/icones/busca.png) 0 0 no-repeat; width:23px; height:24px; float:left; margin: 0 18px;
		&:hover{ background-position:0 -24px;}
	}
	.usuarios{ background:url(../img/icones/usuarios.png) 0 0 no-repeat; width:24px; height:24px; float:left; margin: 0 17px;
		&:hover{ background-position:0 -24px;}
	}
	.creditos{ font-size:24px; font-family: 'marvelbold'; color:#fe7c09;
		i{ background:url(../img/icones/cifrao.png) 0 -48px no-repeat; width:24px; height:24px; float:left; margin: -2px 0 0 16px; padding: 0 12px 0 0;}
		&:hover{ color:#ffa000;
			i{ background-position:0 -24px;}
		}
		&.ativo{ color:#717171;
			i{ background-position:0 0;}
			&:hover{ color:#ffa000;
				i{ background-position:0 -25px;}
			}
		}				
	}	
}

.cadastro{ float:left; position:relative; border:1px solid #474747; margin: -7px 0 0 40px; background:url(../img/icones/seta.png) right top no-repeat; border-radius:5px;
	&:hover{ background:#3d3d3d url(../img/icones/seta.png) right -34px no-repeat;  border-radius:5px 5px 0 0;}
	i{ background:url(../img/icones/cadastro.png) 0 0 no-repeat; width:15px; height:21px; float:left; margin: -3px 10px 0 3px;}
	a{ font-family: 'marvelregular'; font-size:18px; color:#878787; float:left; height:16px; padding: 9px 0;}
	ul li > a{ width:175px;}
	li{ padding:0 8px;}
	.nivel1{ float:left;
		/*&:hover .nivel2{ display:block;}*/
	}
	.nivel2{ position:absolute; z-index:4; top:34px; left:-1px; background:#3d3d3d; display:none; padding: 0 0 8px 0; border:1px solid #474747; border-top:0; border-radius: 0 0 5px 5px;
		li:first-child a{ border-top:1px solid #474747;}
		a{ text-indent: 20px; border-radius:5px;
			&:hover{ background:#4c4c4c;}
		}
	}
}

.consultas{ padding: 20px 0; border-bottom:4px solid #e7e3dc; background:#ffffff;
	.texto{ float:left; margin: 3px 8px;
		h1{ font-family: 'marvelbold'; font-size:30px; color:#fe7c09;}
		p{ font-family: 'marvelregular'; font-size:18px; color:#8e836f;}
	}
	.nivel1{ float:right; margin:0 6px 0 0; position:relative;
		>li{ float:left; margin:0 4px;
			>a{ background:url(../img/backgrounds/btnConsultas.png) 0 0 repeat-x; font-family: 'marvelbold'; font-size:24px; color:#8e836f; float:left; border:1px solid #d3cfc7; border-radius:5px; line-height: 140%; padding: 12px 23px 6px 15px; box-shadow: 0 6px 1px -3px #eeece9;
				&:hover{ background-position:0 -52px;}
				&.ativo{ background-position:0 -104px; color:#f5f0e9;}
				>i{ background:url(../img/icones/consultas.png);}
			}
			&:nth-child(1){
				.cima{ left:68px;}
			}
			&:nth-child(2){
				.cima{ left:220px;}
			}
			&:nth-child(3){
				.cima{ left:370px;}
			}			
		}
		i{ float:left; margin:0 10px 0 0;}
		.completa{
			i{ background-position:0 0; width:28px; height:28px;}
			&.ativo{
				i{ background-position: 0 -28px;}
			}			
		}
		.segura{
			i{ background-position:-28px 0; width:27px; height:28px;}
			&.ativo{
				i{ background-position:-28px -28px;}
			}			
		}
		.outras{ padding: 12px 13px 6px 15px;
			i{ background-position:-55px 0; width:26px; height:28px;}
			&.ativo{
				i{ background-position:-55px -28px;}
				span{ background-position: right -34px}
			}			
			span{ background:url(../img/icones/outras.png) right 12px no-repeat; float:right; width:16px; height:28px; margin: 0 0 0 10px;}
		}
		.usuarios{
			i{ background-position:-81px 0; width:20px; height:28px;}
			&.ativo{
				i{ background-position: -81px -28px;}
				span{ background-position: right -34px}
			}			
			span{ background:url(../img/icones/novoUsuario.png) right 7px no-repeat; float:right; width:11px; height:28px; margin: 0 0 0 10px;}
			&:hover span{ background-position: right -21px;}
		}
	}
	.nivel2{ position:absolute; left:0; top:53px; z-index:3; color:#8e836f; font-size:18px; border:1px solid #f0ede4; border-top:7px solid #f0ede4; border-radius:5px; box-shadow: 0 6px 12px 1px #aaa; width:428px; background:#ffffff; padding: 16px; display:none;
		li>.titulo{ font-family: 'marvelbold'; font-size:23px; margin-bottom:8px;}
		li>.descricao{ font-family: 'marvelregular'; margin-bottom:22px;}
		.cima{ width:0; height:0; display:block; border:10px solid transparent; border-bottom-color:#f0ede4; position:absolute; top:-27px;}
		.adicional{ font-family: 'marvelitalic'; margin-bottom:22px;}
		.info{ }
		.custo{ float:left; background:#f8f6f0; color:#ffa000; text-align:center; border:1px solid #eeeae0; padding:7px; border-radius:5px; width:170px; height:73px;
			.titulo{ font-family: 'marvelregular'; font-size:14px; text-transform:uppercase; border-bottom:1px solid #f1eee6; line-height: 140%;}
			.descricao{ font-family: 'marvelbold'; font-size:54px; border-top:1px solid #fdfcfb; margin-top: 1px; line-height: 120%;
				p{ background:url(../img/icones/credito.png) 0 6px no-repeat; display:inline-block; padding: 0 0 0 50px;}
			}		
		}
		.botoes{ float:right;
			a{ font-family: 'marvelbold'; display:block; text-align:center; border-radius:5px;}
			.consultar{ background: url(../img/backgrounds/btnConsultar.png) 0 0 repeat-x; border:1px solid #ffba47; font-size:24px; color:#fef7dd; padding:12px 57px 5px 47px; line-height: 130%;
				i{ background:url(../img/icones/consultar.png) 0 0 no-repeat; width:25px; height:25px;}
				&:hover{ background-position:0 -48px;
					i{ background-position:0 -25px}
				}				
			}
			.visualizar{ background: url(../img/backgrounds/btnVisualizar.png) 0 0 repeat-x; border:1px solid #e1dcd1; font-size:20px; color:#b3a68f; padding:8px 0 4px 0; margin:3px 0 0 0;
				&:hover{ background-position:0 -34px;}
			}
		}
	}
	.alertaPesquisa{
		h1{ font-family: 'marvelitalic'; font-size:24px; font-weight:normal; padding:8px 20px 8px 52px; float:left;}
		&.pronta{
			h1{color:#9fa70a; background:url(../img/icones/pronta.png) left center no-repeat;}
		}
		&.processando{
			h1{ color:#ffa000; background:url(../img/icones/processando.png) left center no-repeat;}
		}
		.vejaAqui{ float:left; color:#ffffff; font-family: 'marvelbold'; font-size:18px; background:url(../img/backgrounds/vejaAqui.png) center no-repeat; padding:6px 11px 4px 15px; margin:5px 0;}
		.fechar{ background:url(../img/icones/sair.png) 0 0 no-repeat; width:25px; height:25px; float:right; margin: 6px 0;}
	}
}

.escolhas{ font-family: 'marvelregular'; color:#8e836f; font-size:18px; margin: 0 0 16px 0;
	.tipo{ border-bottom:1px solid #eeeae0; padding: 6px 0 3px 0;
		&:hover{ background:#f8f5ef;}
	}
	.bgCheckbox{ background:url(../img/icones/checkbox.png) 0 1px no-repeat; float:left; padding: 0 2px 1px 3px; height: 18px; overflow: hidden; margin: -3px 8px 0 0;}
	input[type="checkbox"]{ opacity:0;}
	.nome{ float:left;}
	.sobre{ font-size:15px; color:#cabeaa;}
	.valor{ float:right; font-family: 'marvelbold';}
	.mais{ font-size:14px; line-height: 140%; display:none;}
	.resumo{ margin:14px 0;}
	.maisDados{ font-family: 'marvelitalic'; margin:6px 0 20px 0;}	
}

.content{ padding:84px 0; font-family: 'marvelregular'; color:#8e836f;
	.inner{ margin:0 10px;}
	.titulo{ font-family: 'marvelbold'; font-size:30px;
		&.laranja{ color:#fe7c09;}
	}
	&.doisMenus{ padding:194px 0 84px 0;}
}

.filtro{ font-size:18px; width:100%; padding: 19px 0 14px 0; border-bottom:1px solid #c7c7c7; box-shadow:0 1px 1px 0 #ffffff;
	.rotulo{ float:left; margin:10px 5px;}
	.botoes{ float:left;
		a{ background:url(../img/backgrounds/filtro.png) 0 0 repeat-x; font-family: 'marvelbold'; color:#b3a68f; padding:9px 15px 6px 15px; margin:0 3px; float:left; border:1px solid #e1dcd1; border-radius:5px;
			&:hover{ background-position:0 -34px; color:#8e836f;}
			&.ativo{ background-position:0 -68px; color:#fef7dd; border:1px solid #ffba47;}
		}
	}
	.selects{ float:right;}
	.nivel1{ float:left; margin:0 3px; position:relative;
		.selecao{ background:url(../img/backgrounds/filtro.png) 0 0 repeat-x; color:#8e836f; float:left; padding:8px 14px 7px 18px; border:1px solid #e1dcd1; border-radius:5px;
			&:hover{ background-position:0 -34px; color:#8e836f;}
			.seletor1{ background:url(../img/icones/filtros.png) 0 0 no-repeat; width:16px; height:11px; float:right; margin:3px 0 0 10px;}			
			&.ativo{
				.seletor1{ background-position:0 -11px}
			}
		}
		.nivel2{ display:none; position:absolute; top:36px; right:0; z-index:3; background:#ffffff; border:1px solid #f0ede4; border-top:2px solid #f6f5f0; border-bottom:5px solid #f2f0ed; box-shadow: 0 6px 12px 1px #aaa; padding:8px 16px; width:164px; text-align:left; border-radius:5px;
			>li{  padding:10px 0;
				&:last-child a{ border:0;}
			}
			.cima{ width:0; height:0; display:block; border:9px solid transparent; border-bottom-color:#ffffff; position:absolute; top:-18px; right:14px;}
			.todos{ color:#8e836f; text-align:center; width:100%; display:block; padding: 4px 0; margin: 0 0 -8px 0;
				&:hover{ background:#f6f3eb; border-radius:5px;}
			}
			&.dias{
				li{ padding:0;}
				a{ color:#8e836f; display:block; padding:2px 6px 0 6px; line-height: 180%; border-radius:5px;  border-bottom:1px solid #eeeae0;
					&:hover{ background:#f6f3eb;}
				}
				.nivel3{ background:none; border:0; margin:0; padding:5px 0; display:none;
					li{ padding:4px 0;}
					.labelData{ float:left; margin: 10px 0 0 0; width:36px; text-align:right;}
					.pegaData{ float:right; padding:5px 8px 1px 0; background:url(../img/backgrounds/filtro.png) 0 0 repeat-x; border:1px solid #e1dcd1; border-radius:5px;}
					.calendario{ width:80px; font-family: 'marvelregular'; font-size:18px; color:#8e836f; vertical-align:top; margin: 3px 10px 0 0; text-indent:8px;}
				}
			}
			.user{ border-bottom:1px solid #eeeae0;}
		}
		.nivel3{ position:relative; padding:8px 8px 7px 14px; margin:6px 0 0 0; background:url(../img/backgrounds/filtro.png) 0 0 repeat-x; border:1px solid #e1dcd1; border-radius:5px;
			.lista{ color:#8e836f; float:left;				
			}
			.seletor2{ background:url(../img/icones/filtros.png) -16px 0 no-repeat; width:11px; height:15px; float:right; margin:0 0 0 20px;}
			&:hover{ background-position:0 -34px;
				.lista{ color:#8e836f;}
				/*.nivel4{ display:block;}*/
			}
		}
		.nivel4{ width:100%; padding:4px 0; border:1px solid #e1dcd1; border-top:0; border-radius:0 0 5px 5px; display:none;
			position:absolute; left:-1px; top:31px; z-index:4; background:#ebe6d9;
			li{ padding:6px 0; margin:0 7px;}
			a{ color:#8e836f; width:100%; display:block; padding:3px 0 2px 0; text-indent:7px; border-radius:5px;
				&:hover{ background:#f6f3eb;}
			}
		}
	}
}

.nenhumaConsulta{ font-family: 'marvelregular'; margin: 19px 0;
	.imagem{ float: left; width:220px; height:285px; background:url(../img/backgrounds/nenhumaConsulta.png) 0 0 no-repeat;
		a{ float: left; width:220px; height:285px; background:url(../img/backgrounds/nenhumaConsulta.png) -220px 0 no-repeat; display:none;}
	}
	.texto{ background:url(../img/icones/nenhumaConsulta.png) 37px 150px no-repeat; float: left; padding: 94px 35px;}
	h1{ font-size:30px; color:#fe7c09;}
	p{ font-size:18px; color:#8e836f;}
}

.conjuntoDeCards{ width:100%; margin:8px 0;
	.card{ position:relative; z-index:2; text-align:center; width:220px; height:285px; float:left; margin:8px 7px; overflow:hidden;
		&:hover{
			.acesso{ display:block;}
		}
	}
	.mascara{ background:url(../img/backgrounds/card.png) 0 0 no-repeat; width:220px; height:285px; position:absolute; left:0; top:0; z-index:3;}
	.acesso{ background:url(../img/backgrounds/cardAcesso.png) 0 0 no-repeat; width:161px; height:161px; margin:35px auto; display:none;}
	.mais{font-family: 'marvelregular'; color:#8e836f; padding: 51px 0 0 0; margin: 0 0 16px 0;}
	.info{ font-size:16px;}
	.usuario{ font-size:19px; color:#fe7c09; margin: 4px 0 3px 0;}
	.valor{ font-family: 'marvelbold'; font-size:21px; color:#ffa000;}
	.imagem{ height:161px; margin:35px auto 0 auto;}
	.detalhes{ position:absolute; bottom:12px; left:0; width:100%; text-align:center;}
	.nome{ width:100%; font-family: 'marvelbold'; font-size:17px; color:#ffffff;}
	.dados{ width:100%; font-family: 'marvelitalic'; font-size:16px; color:#fae3ab;}
	#infscr-loading{ text-align:center;
		img{ margin: 150px auto;}
	}
}

.sidebar{ float:left; margin: 3px 18px 3px 9px; width:281px;
	.card{ position:relative; z-index:2; text-align:center; width:281px; height:366px; float:left; overflow:hidden;
		&:hover{
			.acesso{ display:block;}
		}
	}
	.mascara{ background:url(../img/backgrounds/resultado.png) 0 0 no-repeat; width:281px; height:366px; position:absolute; left:0; top:0; z-index:3;}
	.acesso{ background:url(../img/backgrounds/cardAcesso.png) 0 0 no-repeat; width:161px; height:161px; margin:35px auto; display:none;}	
	.imagem{ min-width:201px; min-height:201px; margin:46px auto 0 auto;}
	.detalhes{ position:absolute; bottom:12px; left:0; width:100%; text-align:center;}
	.dados{ font-family: 'marvelbold'; font-size:24px; color:#ffffff; margin: 0 35px;}
	
	.menuResumo{ float:left; position:relative;	
		&:hover{
			.nivel2{ display:block;}
			.palco{ background:#575757 url(../img/icones/selectResultado.png) right 18px no-repeat;
				span{ border-left-color:#505050;}
			}
		}
		a{  font-size:21px; float:left;}
		i{ float:left; background:url(../img/icones/icoSelectResultado.png) 0 0 no-repeat; width:32px; height:21px; margin:16px 10px 0 14px;}
		span{ float:left; margin:16px 0 0 0; padding:0 0 0 18px; border-left:1px solid #4c4c4c;}
		.palco{ background:#474747 url(../img/icones/selectResultado.png) right 18px no-repeat; color:#ffa000; border-radius:5px; border:1px solid #454545; box-shadow:inset 0 1px 0px 0px #717171; float:left; width:266px; height:51px; padding:0 6px; position:relative; z-index:3;
			&.resumo i{ background-position: -32px 0;}
			&.checklist i{ background-position: -32px -21px;}
			&.timeline i{ background-position: -32px -42px;}
			&.detalhamento i{ background-position: -32px -63px;}
			span{ border-left-color:#414141;
				&:first-letter {text-transform: uppercase;}
			}
		}
		.nivel2{ position:absolute; top:49px; left:0; z-index:2; background:#3d3d3d; width:268px; padding:2px 6px 0 6px; border-radius:0 0 5px 5px; display:none;
			li{ border-bottom:1px solid #565656; height:51px;
				&:last-child{ border:0;}
			}
			a{ color:#878787; width:100%; margin:6px 0 0 0; padding: 0 0 6px 0;				
				&.checklist i{ background-position: 0 -21px;}
				&.timeline i{ background-position: 0 -42px;}
				&.detalhamento i{ background-position: 0 -63px;}
				&:hover{ background:#4c4c4c; border-radius:5px; color:#ffa000;
					span{ border-left-color:#464646;}
					&.checklist i{ background-position: -32px -21px;}
					&.timeline i{ background-position: -32px -42px;}
					&.detalhamento i{ background-position: -32px -63px;}
				}
			}
			i{  margin:10px 10px 0 14px;}
			span{ margin:10px 0 0 0;}
		}
	}
	
	.dadosVeiculo,.dadosConsulta{ color:#b6b6b6; font-size:18px; border:1px solid #595959; float:left; border-radius:5px 5px 0 0; width:248px; padding:17px 15px; box-shadow:inset 0 2px 0px 0px #717171; background:#626262; word-wrap: break-word;
		.titulo{ font-family: 'marvelbold'; font-size:23px; border-bottom:1px solid #555351; box-shadow: 0 2px 0px 0px #717171; padding:0 0 5px 0; margin:5px 0 21px 0;}
		.linha{ border-bottom:1px solid #555351; box-shadow: 0 1px 0px 0px #717171; padding:0 0 2px 0; margin:0 0 8px 0;
			.nome{ width:87px; float:left; text-align:right;}
			.descricao{ font-family: 'marvelbold';  width:155px; padding:0 0 0 6px; float:left; text-align:left;}
			&:last-child{ border:0; box-shadow:none;}
		}
	}
	
	.dadosConsulta{ color:#989898; background:#555555;border-radius:0 0 5px 5px; border:1px solid #4e4e4e; border-top:3px solid #4f4f4f; border-bottom:4px solid #4f4f4f; box-shadow:none; word-wrap: break-word;
		.titulo{ border-bottom:1px solid #4b4b4b; box-shadow: 0 2px 0px 0px #5a5a5a;}
		.linha{ border-bottom:1px solid #4b4b4b; box-shadow: 0 2px 0px 0px #5a5a5a;}
	}

}

.resultado{ float:left; margin: 3px 0; width:638px;
	.historico{ margin: 0 0 26px 0;
		.nome{ font-size:18px; color:#ffffff; text-transform:uppercase; background:#b3a68f url(../img/backgrounds/historico.png) 29px 12px no-repeat; border:1px solid #d3cfc7; border-bottom:2px solid #a69983;
			p{ padding: 26px 0 21px 135px;}
		}
		.descricao{ padding: 28px 28px; border:1px solid #d3cfc7; background:#fcfbf8;
			.detalhes{ float:left; border-right:1px solid #f4f0e9; padding: 0 33px 0 0; margin: 15px 0 0 0;
				.quadro{ border:1px solid #efebe3; margin: 0 0 18px 0;
					.numero{ position:relative; font-size:40px; color:#ffffff; background:#b3a68f; float:left; border-bottom:4px solid #a69983;
						p{ margin:7px 19px -1px 14px;}
					}
					.texto{ float:left; border-bottom:4px solid #e9e5dc; font-size:18px; color:#b3a68f; text-align:center; width:121px; height:49px; background:#efebe3;
						p{ margin:15px 0;}
					}
				}
			}
			.origem{ float:left; padding:0 0 0 35px; color:#b3a68f;	
				.pin{ background:url(../img/icones/pin.png) 0 0 no-repeat; width:99px; height:144px; float:left;}
				.relacao{ float:left; margin: 9px 0 0 21px;}
				.onde{ font-size:18px;}
				.cidadeOrigem{ font-family: 'marvelbold'; font-size:36px; text-transform:uppercase; border-bottom:1px solid #f4f0e9; padding: 1px 0 3px 0;}
				.passagem{ font-size:18px; border-top:1px solid #ffffff; margin:1px 0 0 0; padding: 9px 0 6px 0;}
				.cidadePassagem{ font-family: 'marvelbold'; font-size:18px;}
			}
			.quilometragem{ float:left; width:100%; margin: 47px 0 0 0;
				.separador{ position:relative; border-top:1px solid #efebe3; border-bottom:1px solid #fff; height:1px;
					p{ font-size:18px; color:#ffffff; background:#b3a68f; position:absolute; top:-15px; left:225px; padding:5px 18px;}
				}
				.tabela{ background:#ffffff url(../img/backgrounds/km.png) 16px 11px no-repeat; border:1px solid #efebe3; margin: 34px 0 0 0; color:#b3a68f; box-shadow:inset 0 -3px 0px 0px #f1eeea;
					.g{ font-size:44px; font-family: 'marvelbold';}
					.t{ font-size:18px;}
					.informada{ float:left; margin: 13px 0 0 138px;
						.g{ margin:-4px 0 0 0;}
					}
					.estimada{ float:left; margin: 13px 0 0 58px;
						.g{ margin:-4px 0 0 0;}
					}
					.diferenca{ float:right; width:127px; height: 76px; border-left:1px solid #efebe3; border-bottom:4px solid #a69983; color:#f4efe6; text-align:center; position:relative; background:#b3a68f;
						.g{ margin:9px 0 0 0;}
						.t{ margin: -7px 0 0 0;}
					}
					.esquerda{ width:0; height:0; display:block; border:12px solid transparent; border-right-color:#b3a68f; position:absolute; top:27px; left:-23px;}
				}
			}
		}
	}
	span.direita{ width:0; height:0; display:block; border:10px solid transparent; border-left-color:#b3a68f; position:absolute; top:16px; right:-20px;}
	.estrutural,.legal{ border:1px solid #d3cfc7; margin: 0 0 26px 0;
		.referencia{ float:left; text-align:center; border-right:1px solid #d3cfc7; border-bottom:2px solid #a69983; width: 221px; height: 386px; background:#b3a68f;
			.imagem{ margin: 94px auto 0 auto;}
			.texto{ font-size:18px; color:#ffffff; text-transform:uppercase; margin:70px 0 0 0;}
		}
		.lista{ float:left; color:#b3a68f; font-size:18px; width:394px; padding: 19px 10px 0 10px; background:#fcfbf8;
			.linha{ background:url(../img/backgrounds/borda.png) 0 10px repeat-x; margin: 0 0 22px 0; position:relative;}
			.borda{ float:left; border-top:1px solid #f4f0e9; border-bottom:1px solid #ffffff; height:1px; width:100%;}
			.item{ float:left; background:#fcfbf8; padding: 0 2px;}
		}
		.status{ float:right; background:#fcfbf8; padding: 0 2px;
			&.nao{ background:#fcfbf8 url(../img/icones/status.png) 0 0 no-repeat; width:67px; height:33px; position:absolute; right:0; top:-8px;
				span{ display:none;}
			}
			&.sim{ background:#fcfbf8 url(../img/icones/status.png) 0 -33px no-repeat; width:67px; height:33px; position:absolute; right:0; top:-8px;
				span{ display:none;}
			}
		}
	}
	.legal{
		.referencia{ height:306px;
			.imagem{ margin: 50px auto 0 auto;}
		}
	}
	.pontosDeAtencao{ color:#8e836f; border:1px solid #d3cfc7; height:134px; font-family: 'marvelbold'; background:#f6f4f2;
		.pontos{ float:left; padding: 18px 0 0 0; width:213px; border-right:1px solid #d3cfc7;
			.total{ background:url(../img/backgrounds/pontos.png) 0 0 no-repeat; width:99px; height:116px; padding:0 0 0 17px; text-align:center; font-size:36px; float:left;
				p{ margin:30px auto;}
			}
			.texto{ font-size:24px; float:left; margin: 37px 6px;
				a{ font-size:16px; color:#c3b8a5;}
			}
		}
		.descricao{ float:left; width:422px;
			.label{ font-size:24px; border-bottom:1px solid #d3cfc7; background:#ffffff;
				p{ padding: 13px 0 11px 19px;}
			}
			.maisInfo{ padding: 12px 0;
				>div{ float:left;}
			}
			.ico{ background:url(../img/icones/pontosDeAtencao.png) 0 0 no-repeat; width:55px; height:55px; float:left; margin: 0 0 0 20px;}
			.dados{ float:left; padding: 5px 14px 5px 6px;
				>span{ display:block;}
			}
			.g{ font-size:30px;}
			.p{ font-size:14px; font-family: 'marvelregular'; margin:-4px 0 0 0;}
			.restricoes{
				.ico{ background-position:0 0 ;}
			}
			.impedimentos{
				.ico{ background-position:-55px 0 ;}
			}
			.alertas{
				.ico{ background-position:-110px 0 ; margin: 0;}
			}
		}
	}
	#accordion{ margin:12px 0; color:#8e836f!important;
		.ico{ background:url(../img/icones/pontosDeAtencaoP.png) 0 0 no-repeat; width:32px; height:32px; float:left; margin: 0 24px 0 0;
			&.impedimento{ background-position:0 -32px;}
			&.alerta{ background-position:0 -64px;}
			&.ok{ background-position:0 -96px;}
		}
		.ui-accordion-header{ padding:9px 6px; font-family: 'marvelbold'; font-size:24px; border-radius:0; color:#8e836f!important; background:#ffffff; border:1px solid #d3cfc7; box-shadow:inset 0 -4px 0 0 #f2f0ed;
			&:hover{ box-shadow:inset 0 -2px 0 0 #f2f0ed;}
		}
		.ui-icon{ right:0; left:auto; top:0; margin:0; background:url(../img/icones/icoAccordion.png) 0 0 no-repeat; width:48px; height:45px;}
		.ui-accordion-header-active .ui-icon{ background-position:0 -45px;}
		.ui-accordion-content{ font-family: 'marvelregular'; font-size:18px; border-radius:0; color:#8e836f!important; background:#f6f4f2; border:1px solid #d3cfc7; border-top:0;
			p{ margin:4px 0;}
			a{ color:#8e836f!important; font-family: 'marvelitalic';}
		}
	}
	.linhaDoTempo{ background:url(../img/backgrounds/timeline.png) 31px top repeat-y; font-family: 'marvelregular';
		.ano{ background:#fe7c09; color:#ffcc00; font-size:24px; float:left; box-shadow:inset 0 1px 0px 0px #ffb21f; border-radius:5px; border:1px solid #fe7c09; border-bottom:3px solid #f0f0f0; padding:4px 10px; margin:33px 0 33px 4px;
			&:first-child{ margin-top:0;}
		}
		.data{ margin:7px 0; clear:both; width:100%;
			&:last-child{ margin:7px 0 0 0;
				.pin{ height:50px;}
			}
		}
		.pin{ float:left; background:#f0f0f0; width:18px; height:18px; border-radius:9px; margin: 25px 0 0 23px;
			.inner{ margin:5px auto; background:#fe7c09; width:8px; height:8px; border-radius:4px;}			
		}
		.balao{ border:1px solid #d3cfc7; border-radius:5px; box-shadow:inset 0 -4px 0px 0px #f2f0ed; width:578px; float:right; position:relative; padding:10px 0; background:#fff;}
		.esquerda{ background:url(../img/icones/setaTimeline.png) 0 0 no-repeat; width:9px; height:18px; position:absolute; top:25px; left:-9px;}
		.calendario{ float:left; width:60px; height:100%; text-align:center;}
		.mes{ font-size:18px;}
		.dia{ font-family: 'marvelbold'; font-size:30px;}
		.info{ float:left; padding:0 0 0 20px; width: 480px;  border-left:1px solid #d3cfc7;}
		.tipo{ font-family: 'marvelbold'; font-size:23px;}
		.descricao{ font-size:18px;
			p{ margin:5px 0;}
		}
		.ico{ background:url(../img/icones/icoTimeline.png) 0 0 no-repeat; width:34px; height:38px; position:absolute; top:-3px; right:12px;
			&.carrinho{ background-position:0 0;}
			&.mais{ background-position:0 -38px;}
			&.mascara{ background-position:0 -76px;}
			&.asterisco{ background-position:0 -114px;}
		}
		img{ border:1px solid #8e836f;}
	}
}

#detalhamento{ font-family: 'marvelregular'; text-transform:uppercase;
	.ico{ background:url(../img/icones/icoDetalhamento.png) 0 0 no-repeat; width:50px; height:51px; float:left;
		&.carNac{ background-position:0 0;}
		&.carEst{ background-position:0 -51px;}
		&.tabelaFipe{ background-position:0 -102px;}
		&.precoDeMercado{ background-position:0 -153px;}
		&.icoHistorico{ background-position:0 -204px;}
		&.icoMultas{ background-position:0 -255px;}
		&.icoGravames{ background-position:0 -306px;}
		&.icoDpvat{ background-position:0 -357px;}
		&.icoDuplicidade{ background-position:0 -408px;}
		&.icoRecall{ background-position:0 -459px;}
		&.icoLeilao{ background-position:0 -510px;}
		&.icoProprietarios{ background-position:0 -561px;}
		&.icoDecodificacao{ background-position:0 -612px;}
		&.icoConcorrentes{ background-position:0 -663px;}
		&.icoEspecificacoes{ background-position:0 -714px;}
		&.icoDesvalorizacao{ background-position:0 -765px;}
		&.icoRenajud{ background-position:0 -816px;}
		&.icoSinistro{ background-position:0 -867px;}
		&.icoObservacoes{ background-position:0 -918px;}
		&.icoFeedback{ background-position:0 -969px;}
	}
	.ui-accordion-header{ font-family: 'marvelbold'; font-size:24px; color:#8e836f; height:51px; padding:0; border-radius:0; box-shadow:inset 0 -4px 0px 0px #f2f0ed; border:1px solid #d3cfc7; background:#ffffff;
		.nome{ float:left; padding:10px 0 10px 15px; text-transform:none;}
		.ui-icon{ right:0; left:auto; top:0; margin:0; background:url(../img/icones/icoAccordion.png) 0 0 no-repeat; width:48px; height:45px;}
		&.ui-accordion-header-active .ui-icon{ background-position:0 -45px;}
	}
	.ui-accordion-content{ border-radius:0; border:1px solid #d3cfc7; border-top:0; padding:0;
		>div{ position:relative; overflow:hidden; margin:0 0 6px 0; border-top:1px solid #d3cfc7; border-bottom:1px solid #d3cfc7;
			&:first-child{ border-top:0;}
			&:last-child{ margin:0; border-bottom:0;}
		}
	}
	.holder{ position:relative;}	
	.img{ background:#eae2d3 url(../img/icones/imgDetalhamento.png) 0 0 no-repeat; float:left; width:221px; border-right:2px solid #e2d9c7; /*border-bottom:2px solid #e2d9c7;*/ min-height: 100%; position:absolute; top:0; left:0;
		&.licensiamento{ background-position:0 0;}
		&.tecnicos{ background-position:-221px 0;}
		&.carga{ background-position:-442px 0;}
		&.dadosDeCompra{ background-position:-663px 0;}
		&.importacao{ background-position:-884px 0;}
		&.leilao{ background-position:-1105px 0;}
		&.veiculos{ background-position:-1326px 0;}
		&.situacao{ background-position:-1547px 0;}
		&.fotos{ background-position:-1768px 0;}
		&.pin{ background:#eae2d3 url(../img/icones/detalhamento/estaduais.jpg) 35px 0 no-repeat;;
			.nome{ font-family: 'marvelbold'; font-size:30px; color:#d5c9b1; text-transform:uppercase; margin:35px 0 0 130px;}
		}
	}
	.detalhes{ float:left; font-size:15px; width:413px; margin:0 0 0 223px;
		.fleft{ float:left; color:#8e836f;}
		.fright{ float:right; color:#ffa000; font-family: 'marvelbold';}
		>div{ padding:7px 15px 4px 15px;
			&:nth-child(odd){ background:#f9f8f3;}
			&:nth-child(even){ background:#f4f1e9;}
		}
		.titGravames{ background:#eae2d3; padding: 0 60px; width:101px; border-right:2px solid #e2d9c7; min-height: 100%; position:absolute; top:0; left:0; color:#8e836f;
			span{ margin:15px 0 0 0; display: block;}
		}
		.alerta{ background:url(../img/icones/alerta.png) 0 0 no-repeat; padding: 4px 0 0 28px; margin:3px 0;
			span{ color:#8e836f;}
		}
	}
	table{ width:100%; text-align:center; font-size:15px; margin: 0 0 6px 0;
		thead{ color:#ffffff; font-weight:normal;
			th{ background:#bdb19b; font-weight:normal;}
			td{ background:#b3a68f;}
		}
		tbody{ color:#8e836f;
			tr{
				&:nth-child(odd){ background:#f4f1e9;}
				&:nth-child(even){ background:#f9f8f3;}			
			}
			td{ border-bottom:1px solid #d3cfc7;
				&.nenhum{ color:#ffa000; background:#fcfbf8;}
			}
		}
		td{ border-right:1px solid #d8cfbf; line-height: 120%; padding:5px 12px;
			&:last-child{ border-right:0;}
		}
		th{ line-height: 120%; padding:5px;}
		&:last-child{ margin:0;
			tbody td{ border-bottom:0;}
		}
		&.dpvat{
			td{ border:0; text-align:left;
				span,&:last-child{ color:#ffa000;}
				&:last-child{ text-align:right;}
			}			
		}
	}
	.destaque td{ color:#ffffff; background:#b3a68f;}
	.introLeilao{ color:#8e836f; font-size:15px; font-family: 'marvelbold'; padding:20px 50px; border-bottom:0!important;
		.imagem{ float:left; margin:0 20px 0 0;}
		.texto{ float:left;}
		.resumo{ margin:10px 0 0 0;}
		.maisResumo{ padding:5px 0 0 0; border-top:1px solid #d3cfc7;
			p{ float:left; margin:0 18px 0 0;
				&:last-child{ margin:0}
			}
			span,a{ color:#ffa000;}
		}		
	}
	.introducaoLeilao{ margin:0;
		td{ border:0;
			&:first-child{width:200px; background:#aa9c83;}
			&:last-child{background:#b3a68f; text-align:left;}
		}
	}
	img.modal{ margin:0 5px; cursor:pointer;}
	/*.maisImg{
		&.img{ margin:0 auto; text-align:center;}
		&.bgDecodificacao{ background:#eae2d3 url(../img/icones/detalhamento/decodificacao.jpg) center 40% no-repeat;}
		.imagem{ margin:60px 0 10px 0;}
		.legenda{ color:#b3a68f; top:60%; position:absolute; width:100%;}
	}*/
	.maisImg{
		&.img{ background-image:none; margin:0 auto; text-align:center;}
		.posicao{ position:absolute; width:100%;}
		.imagem{  margin:0 0 10px 0;}
		.legenda{ color:#b3a68f;}
	}
	.observacoes{ font-size:15px; color:#8e836f;
		li{ margin:12px 20px;}
		.dot{ color:#ffa000;}
	}
	.valorDesvalorizacao{
		.valorMedio{ font-size:14px; color:#ffe990; white-space:nowrap;}
		tbody{
			td:first-child{ background:#cbd219; font-size:24px; color:#fff;}
		}
		.bloco{ font-size:15px; padding:5px 0; margin:0 -12px; position:relative;
			.desce{ width:0; height:0; display:block; border:4px solid transparent; border-top-color:#ffffff; position:absolute; top:11px; left:22px;}
			&.laranja{ background:#ffa000; color:#fff; margin-top:-5px;
				.desce{border-top-color:#ffe26e;}
			}
			&.amarelo{ background:#ffe990; color:#fe7c09; margin-bottom:-5px;
				.desce{border-top-color:#ffa000;}
			}			
		}
	}
	.valorExpectativas{ font-size:15px; color:#8e836f;
		.tipo,.escolha{ float:left;}
		.tipo{ margin:18px;}
		.escolha{ margin:18px 24px;}
		input[type="radio"]{ margin:0 8px 0 0;}
		 input[type="submit"]{ float:right; color:#fff; background:#ffa000; font-size:24px; font-family: 'marvelbold'; box-shadow:inset 0 1px 0px 0px #f5c624; border:1px solid #ffa000; padding:14px 20px;}
	}
}

.usuariosLista{ font-size:21px;	margin: 14px 0;
	.usuario{ border:1px solid #d3cfc7; background:#ffffff; box-shadow:inset 0 -4px 0px 0px #f2f0ed; padding:5px 0; margin:8px 0;
		&.admin{
			.ico{  background-position:0 -25px;}
		}
	}
	.ico{ float:left; background:url(../img/icones/usuario.png) 0 0 no-repeat; width:19px; height:25px; margin:5px 5px 0 15px;}
	.nome{  float:left; font-family: 'marvelbold'; color:#8e836f; margin:8px 0 0 15px;}
	.permissao{  float:left; color:#cabfab; margin:8px 0 0 5px;}
	.editar{  float:right; font-family: 'marvelregular'; color:#8e836f; border-left:1px solid #e9e7e3; padding:8px 25px 8px 18px;}
}

.usuariosCadastro,.usuariosEditar,.credito{
	form{ margin:32px 4px; float: left;}
	.detalhes{ background:url(../img/backgrounds/timeline.png) 19px top repeat-y; padding:10px 0;
		&:first-child{ padding-top:0;}
		&:last-child{ background:none; margin-top:-10px;}
		&.ativo{
			.editar{ display:none}
		}
		select{ font-family: 'marvelbold'; font-size:18px; color:#8e836f;}
		&.info.desativado{
			.conteudo{margin:0px 55px 10px 55px;}
			.ico{ background:#474747; color:#a0a0a0; box-shadow:inset 0 1px 0px 0px #6f6f6f; border:1px solid #474747;}
			label{ display:none;}
			.input{ background:transparent; border:0; box-shadow:none;
				input{ font-family: 'marvelitalic'; font-size:18px;}
			}			
			.botoes{ display:none;}
		}
		&.senha.desativado{
			.conteudo{ display:none;}
			.ico{ background:#474747; color:#a0a0a0; box-shadow:inset 0 1px 0px 0px #6f6f6f; border:1px solid #474747;}
		}
		&.privilegios.desativado{
			.conteudo{ display:none;}
			.ico{ background:#474747; color:#a0a0a0; box-shadow:inset 0 1px 0px 0px #6f6f6f; border:1px solid #474747;}
		}
		&.contatos.desativado{
			.conteudo{margin:0px 55px 10px 55px;}
			.ico{ background:#474747; color:#a0a0a0; box-shadow:inset 0 1px 0px 0px #6f6f6f; border:1px solid #474747;}
			label{  font-family: 'marvelitalic'; font-size:18px; line-height: 150%; margin:0;}
			.input{ background:transparent; border:0; box-shadow:none;
				input{ font-family: 'marvelitalic'; font-size:18px;}
			}
			.botoes{ display:none;}
		}
		&.endereco.desativado{
			.conteudo{margin:0px 55px 10px 55px;}
			.ico{ background:#474747; color:#a0a0a0; box-shadow:inset 0 1px 0px 0px #6f6f6f; border:1px solid #474747;}
			label{  font-family: 'marvelitalic'; font-size:18px; line-height: 150%; margin:0;}
			.input{ background:transparent; border:0; box-shadow:none;
				input{ font-family: 'marvelitalic'; font-size:18px;}
			}
			.botoes{ display:none;}
		}
		&.escolha.desativado{
			.conteudo{display:none;}
			.ico{ background:#474747; color:#a0a0a0; box-shadow:inset 0 1px 0px 0px #6f6f6f; border:1px solid #474747;}
			.quant{ display:block;}
		}
		&.complementares.desativado{
			.conteudo{margin:0 55px; padding:0 0 10px 0;}
			.ico{ background:#474747; color:#a0a0a0; box-shadow:inset 0 1px 0px 0px #6f6f6f; border:1px solid #474747;}
			label{  font-family: 'marvelitalic'; font-size:18px; line-height: 175%; margin:0; text-align:left; width:auto;}
			.input{ background:transparent; border:0; box-shadow:none;
				input{ font-family: 'marvelitalic'; font-size:18px;}
			}
			.separador{ margin:0;}
			.botoes,.descricao,h2{ display:none;}
		}
		&.formaDePagamento.desativado{
			.conteudo{ display:none;}
			.ico{ background:#474747; color:#a0a0a0; box-shadow:inset 0 1px 0px 0px #6f6f6f; border:1px solid #474747;}
		}
	}
	h3{ font-family: 'marvelbold'; font-size:21px; color:#8e836f; text-transform:uppercase; font-weight:normal; line-height: 190%; margin:0; padding:0;
		.ico{ background:#fe7c09; font-family: 'marvelregular'; font-size:24px; color:#ffcc00; width:38px; height:36px; float:left; text-align:center; line-height:150%; border-radius:5px; margin:0 20px 0 0; box-shadow:inset 0 1px 0px 0px #ffc600; border:1px solid #fe7c09;}
		a{ text-transform:lowercase; font-size:17px; color:#ffffff; background:#d0ccc5; border-radius:0 5px 5px 0; padding:4px; position:relative; top:-5px; margin:0 0 0 26px;
			.esquerda{ width:0; height:0; display:block; border:13px solid transparent; border-right-color:#d0ccc5; position:absolute; top:0px; left:-25px;}
		}
	}
	.conteudo{  margin:10px 55px; position:relative;}
	.separador{ margin:4px 0 7px 0;}
	label{ float:left; font-family: 'marvelregular'; font-size:18px; color:#8e836f; line-height: 195%; width:62px; text-align:right; margin:0 10px 0 0;}	
	.input{ float:left; border:1px solid #e1dcd1; background:#ffffff; border-radius:5px; padding:4px 8px 1px 8px; box-shadow:inset 0 4px 0px 0px #f8f7f3;
		input{ font-family: 'marvelregular'; font-size:24px; color:#8e836f;}
	}
	.botoes{ margin:35px 0 17px 0;
		a{ font-size:24px; font-family: 'marvelbold'; background:#eeeae0; color:#b3a68f; padding:11px 17px; border:1px solid #e1dcd1; box-shadow:inset 0 1px 0px 0px #f2f0ed; border-radius:5px; float:left; margin:0 3px;
			&.enviar{ background:#ffa000; color:#ffffff; box-shadow:inset 0 1px 0px 0px #ffc600; border:1px solid #ffa000; padding:11px 33px;}
		}
	}
	input[type="button"],input[type="submit"]{ font-size:24px; font-family: 'marvelbold'; background:#eeeae0; color:#b3a68f; padding:14px 17px 8px 17px; border:1px solid #e1dcd1; box-shadow:inset 0 1px 0px 0px #f2f0ed; border-radius:5px; float:left; margin:0 3px; height:49px;
		&:hover{ background:#EEEAE0 url(../img/backgrounds/btnVisualizar.png) 0 -35px repeat-x;}
		&.proxima, &.concluir{ background: url(../img/backgrounds/btnConsultar.png) 0 0 repeat; color:#ffffff; border:1px solid #ffa000; padding:14px 33px 8px 33px;
			&:hover{ background:url(../img/backgrounds/btnConsultar.png) 0 -48px repeat;}
		}
	}
	select{ float:left;}
	.senha label{ width:140px;}
	.privilegios label{ width:140px;}
	.contatos label{ width:70px;}
	.endereco label{ width:100px;}
	.escolha{	
		.quant{ display:none; font-family: 'marvelitalic'; color:#8e836f; font-size:18px; margin: 0 0 0 60px;
			input{ font-family: 'marvelitalic'; color:#8e836f; font-size:18px;}
		}
	}
	.complementares{ width:700px;
		h2{ border-bottom:1px solid #e4e1db; margin:10px 0;}
		.descricao{ font-size:18px;
			p{ margin:0 0 24px 0;}
		}
		label{ width:100px;}
	}
	.formaDePagamento{
		.forma a{ background:url(../img/backgrounds/formaDePagamento.jpg) 0 0 repeat-x; font-family: 'marvelbold'; font-size:18px; color:#8e836f; border:1px solid #d3cfc7; border-radius:5px; padding:13px 36px; float:left; margin:0 5px;
			&.ativo{ background-position:0 -46px; border-color:#ffa508; color:#ffffff;}
		}
		.pagamento{width:630px; float:left; margin:-7px 0 0 0; display:none;
			.instrucoes{ width:630px; background:#ffffff; border:1px solid #d3cfc7; border-radius:5px; position:relative; padding:20px; box-shadow:inset 0 -4px 0px 0px #f8f7f3;}
			
			.imgCartoes{ width:220px; position:absolute; top:65px; right:20px; border:1px solid #d3cfc7; border-radius:5px; padding:10px;
				h3{ font-family: 'marvelregular'; font-size:18px; text-align:center; text-transform:none; margin: 0; padding:0 0 8px 0; line-height: normal;}
				.cartoes{}
				.debito{}
				.boleto{}
				.bandeira{ background:url(../img/icones/bandeiras.png) 0 0 no-repeat; float:left; height:16px; margin:0 10px;}
				.visa{ background-position:0 0; width:31px;}
				.master{ background-position:-31px 0; width:29px;}
				.dinners{ background-position:-60px 0; width:26px;}
				.aexpress{ background-position:-86px 0; width:18px;}
				.elo{ background-position:-104px 0; width:16px;}
			}		
			
			.cima{ width:0; height:0; display:block; border:9px solid transparent; border-bottom-color:#ffffff; position:absolute; top:-18px;}
			h2{ font-family: 'marvelbold'; font-size:20px; border-bottom:1px solid #e1ddd5; margin:0 0 20px 0; padding:0 0 5px 0;}
			.alerta{ margin-bottom:20px;}
			.bancos{
				td{text-align:center; margin:0 auto; vertical-align:middle; padding:10px 25px; margin:0;}
			}
			&.cartaoDeCredito{
				.cima{ left: 80px;}
				label{ width:100px;}
				.topico{font-size: 18px; margin:0 0 10px 70px;}
				.outroEndereco{ display:none;}
			}
			&.boleto{
				.cima{ left:238px;}
			}
			&.depositoOnline{
				.cima{ right:270px;}
			}
			&.depositoEmConta{
				.cima{ right:88px;}
			}
		}
	}
}

.usuariosMenu{ border:1px solid #d3cfc7; float:right; border-radius:5px; background:#ffffff; font-size:24px; font-family: 'marvelbold'; text-align:left; width: 202px;
	.nivel1{		 
		.ico{ background:url(../img/icones/usuarios.png) 0 -24px no-repeat; width:24px; height:24px; float:left;}
		>li{ color:#ffa000; box-shadow:inset 0 -4px 0px 0px #f2f0ed;
			.desc{ padding:6px 15px; box-shadow:inset 0 -4px 0px 0px #f2f0ed;}
			.nome{ margin:4px 0 0 15px; float:left;}
		}
	}
	.nivel2{ border-top:1px solid #d3cfc7; padding: 10px 15px; box-shadow:inset 0 4px 0px 0px #f5f5f5;
		li{ border-bottom:1px solid #eeeae0; border-radius:5px; overflow:hidden;
			&:last-child{ border:0;
				a{ font-family: 'marvelbold'; color:#6f6552; background:none;}
			}
		}
		a{ font-size:20px; font-family: 'marvelregular'; color:#7b715f; padding:6px 8px; float: left; width: 100%;
			&:hover{ background:#f6f3eb;}
		}
	}
}

.creditosMenu{ border:1px solid #d3cfc7; float:right; border-radius:5px; background:#ffffff; font-size:24px; font-family: 'marvelbold'; text-align:left; width: 210px; position:absolute; top:0; right:0;
	.nivel1{		 
		.ico{ background:url(../img/icones/tabela.png) 0 0 no-repeat; width:31px; height:33px; float:left;}
		>li{ color:#ffa000; box-shadow:inset 0 -4px 0px 0px #f2f0ed;
			.desc{ padding:8px 15px; box-shadow:inset 0 -4px 0px 0px #f2f0ed;}
			.nome{ margin:4px 0 0 15px; float:left;}
		}
	}
	.nivel2{ border-top:1px solid #d3cfc7; padding: 5px 15px; box-shadow:inset 0 4px 0px 0px #f5f5f5; font-family: 'marvelregular'; font-size:15px; color:#8e836f;
		li{ padding:6px 0; border-bottom:1px solid #eeeae0;
			&:last-child{ border:0;				
			}
		}
		.linha{ margin:5px 0;
			span{ color:#ffa000;}
		}
		.fleft{ float:left}
		.fright{ float:right}
	}
}

.credito{ position:relative;
	.detalhe{}
	.quantidade{ margin:20px 0;
		a{ background:url(../img/backgrounds/btnConsultar.png) 0 0 repeat; border:1px solid #ffa000; border-radius:5px; color:#fff; font-family: 'marvelbold'; font-size:27px; padding:10px 18px 10px 14px; float:left; margin:0 5px; position:relative;
			&.outros{ padding:10px 18px; text-transform:uppercase;}
			.OQ{ float:left; background:#ffffff url(../img/icones/quantidade.png) 3px -45px no-repeat; border-radius:5px; width:85px; position:absolute; top:6px; right:5px; display:none;
				input{ color:#ffa000; font-family: 'marvelbold'; font-size:27px; margin:0 0 0 30px;}
			}
			i{ background: url(../img/icones/quantidade.png) 0 0 no-repeat; width:24px; height:24px; float:left; margin:0 15px 0 0;}
			&:hover{ background:url(../img/backgrounds/btnConsultar.png) 0 -48px repeat;
				i{ background-position:0 -24px;}
			}
			&.ativo{ background-position:0 -96px; border:1px solid #DEE638;
				i{ background-position:0 -24px;}
			}
		}
	}
	.alerta{
		i{ background: url(../img/icones/alerta.png) 0 0 no-repeat; width:22px; height:22px; float:left;}
		p{ float:left; padding:5px 0 5px 10px;}
		a{ float:left; font-family: 'marvelitalic'; color:#8e836f; margin:0 0 0 5px; text-decoration:underline;  padding:5px 0;}
	}	
	.tabela{  border:1px solid #d3cfc7; float:left; border-radius:5px; background:#ffffff; font-size:24px; font-family: 'marvelbold'; text-align:left; width: 383px;	
		.nivel1{		 
			.ico{ background:url(../img/icones/tabela.png) 0 0 no-repeat; width:31px; height:33px; float:left;}
			>li{ color:#ffa000; box-shadow:inset 0 -4px 0px 0px #f2f0ed;
				.desc{ padding:6px 15px; box-shadow:inset 0 -4px 0px 0px #f2f0ed;}
				.nome{ margin:4px 0 0 15px; float:left;}
			}
		}
		.nivel2{ border-top:1px solid #d3cfc7; padding: 0 15px; box-shadow:inset 0 4px 0px 0px #f5f5f5;  color:#8e836f;
			li{ padding:8px 0 6px 0; border-bottom:1px solid #eeeae0;
				&:last-child{ border:0;
					a{ font-family: 'marvelbold'; color:#6f6552;}
				}
			}
			a{ font-size:15px; font-family: 'marvelregular'; color:#cabeaa;}
			.fleft{ float:left}
			.fright{ float:right}
			.grp{ font-family: 'marvelbold'; font-size:20px;}
			.sgrp{ font-family: 'marvelregular'; font-size:18px;}
		}
	}
	.formasDePagamento{ width:240px; position:absolute; bottom:200px; left:400px;
		h2{ font-family: 'marvelbold'; font-size:24px; color:#ffa000;}
		h3{ font-family: 'marvelregular'; font-size:18px; text-transform:none; border-bottom:1px solid #e3e0d9; margin:10px 0; padding:8px 0; line-height: normal;}
		.cartoes{}
		.debito{}
		.boleto{}
		.bandeira{ background:url(../img/icones/bandeiras.png) 0 0 no-repeat; float:left; height:16px; margin:0 10px;}
		.visa{ background-position:0 0; width:31px;}
		.master{ background-position:-31px 0; width:29px;}
		.dinners{ background-position:-60px 0; width:26px;}
		.aexpress{ background-position:-86px 0; width:18px;}
		.elo{ background-position:-104px 0; width:16px;}
		.bradesco{ background-position:0 -16px; width:16px;}
		.itau{ background-position:-16px -16px; width:18px;}
		.bb{ background-position:-34px -16px; width:16px;}
		.cube{ background-position:-50px -16px; width:18px;}
		.hsbc{ background-position:-68px -16px; width:26px;}
		.pboleto{ background-position:0 -32px; width:35px;}
		.pagseguro{ background-position:-35px -32px; width:19px;}
	}
	
}

.footer{ border-top:4px solid #e7e3dc;
	.consultas .nivel2{ bottom:64px; top:auto; border-bottom: 7px solid #f0ede4; border-top:1px solid #f0ede4; box-shadow: 0 -6px 12px 1px #d6d2cb;
		.cima{ border-top-color: #f0ede4; border-bottom-color:transparent; bottom:-27px; top:auto;}
	}
}

.janelaModal{ position:absolute; z-index:9000; background-color:#000; top:0; left:0; display:none; cursor:pointer;
	img{ position:fixed; width:auto;}
} 

.ui-datepicker{ font-size:11px!important;}

#scrollbar1 { width: 590px; clear: both; margin: 20px 0 10px; background:#ffffff; border:1px solid #e4e0d6; border-radius:5px; padding:6px 4px 6px 12px; font-family: 'marvelregular'; font-size:14px; color:#8e836f; text-transform:none;}
#scrollbar1 .viewport { width: 570px; height: 200px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #dcd5c1; border-radius: 10px;}
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { background-color: #f6f3eb; height: 100%; width:13px; position: relative; padding: 0 1px; border-radius: 10px;}
#scrollbar1 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

span.customSelect {	font-size:18px;	font-family: 'marvelregular'; background: #eeeae0 url(../img/icones/select.png) no-repeat center right; color:#8e836f; padding:7px 30px 7px 8px; border:1px solid #e1dcd1; border-radius:5px; box-shadow:inset 0 1px 0px 0px #f2efe7; float:left; margin: 0 2px;}
span.customSelect.changed {	background-color: #f0dea4;	}
.customSelectInner {	width:auto!important;}
select{ font-family: 'marvelregular'; left:2px; top:0;}
.wrapSelect{ float:left; position:relative; left:0; top:0;}

#mask {
	position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window { position:absolute; left:0; top:0; display:none; z-index:9999; background:#ffffff; border:1px solid #d3cfc7; border-radius:5px; padding:20px; width:460px;
	h1{ font-family: 'marvelbold'; font-size:23px; color:#fe7c09; padding: 0 0 12px 0;}
	>p{ font-family: 'marvelregular'; font-size:18px; color:#8e836f; padding:12px 0;}
	

h3 {
font-family: 'marvelbold';
font-size: 21px;
color: #8e836f;
text-transform: uppercase;
font-weight: normal;
line-height: 190%;
margin: 0;
padding: 0;
}	
	
	.quant{ display:none;}
	.quantidade{ margin:20px 0;
		a{ background:url(../img/backgrounds/btnConsultar.png) 0 0 repeat; border:1px solid #ffa000; border-radius:5px; color:#fff; font-family: 'marvelbold'; font-size:27px; padding:10px 18px 10px 14px; float:left; margin:0 5px; position:relative;
			&.outros{ padding:10px 18px; text-transform:uppercase;}
			.OQ{ float:left; background:#ffffff url(../img/icones/quantidade.png) 3px -45px no-repeat; border-radius:5px; width:85px; position:absolute; top:6px; right:5px; display:none;
				input{ color:#ffa000; font-family: 'marvelbold'; font-size:27px; margin:0 0 0 30px;}
			}
			i{ background: url(../img/icones/quantidade.png) 0 0 no-repeat; width:24px; height:24px; float:left; margin:0 15px 0 0;}
			&:hover{ background:url(../img/backgrounds/btnConsultar.png) 0 -48px repeat;
				i{ background-position:0 -24px;}
			}
		}
	}
	.alerta{font-family: 'marvelregular';color: #8e836f;
		i{ background: url(../img/icones/alerta.png) 0 0 no-repeat; width:22px; height:22px; float:left;}
		p{ float:left; padding:5px 0 5px 10px;}
		a{ float:left; font-family: 'marvelitalic'; color:#8e836f; margin:0 0 0 5px; text-decoration:underline;  padding:5px 0;}
	}	
	.tabela{  border:1px solid #d3cfc7; float:left; border-radius:5px; background:#ffffff; font-size:24px; font-family: 'marvelbold'; text-align:left; width: 320px;	
		.nivel1{		 
			.ico{ background:url(../img/icones/tabela.png) 0 0 no-repeat; width:31px; height:33px; float:left;}
			>li{ color:#ffa000; box-shadow:inset 0 -4px 0px 0px #f2f0ed;
				.desc{ padding:6px 15px; box-shadow:inset 0 -4px 0px 0px #f2f0ed;}
				.nome{ margin:4px 0 0 15px; float:left;}
			}
		}
		.nivel2{ border-top:1px solid #d3cfc7; padding: 0 15px; box-shadow:inset 0 4px 0px 0px #f5f5f5;  color:#8e836f;
			li{ padding:8px 0 6px 0; border-bottom:1px solid #eeeae0;
				&:last-child{ border:0;
					a{ font-family: 'marvelbold'; color:#6f6552;}
				}
			}
			a{ font-size:15px; font-family: 'marvelregular'; color:#cabeaa;}
			.fleft{ float:left}
			.fright{ float:right}
			.grp{ font-family: 'marvelbold'; font-size:20px;}
			.sgrp{ font-family: 'marvelregular'; font-size:18px;}
		}
	}
	.formasDePagamento{ width:124px; position:absolute; bottom:100px; left:365px;
		h2{ font-family: 'marvelbold'; font-size:24px; color:#ffa000;}
		h3{ font-family: 'marvelregular'; font-size:18px; text-transform:none; border-bottom:1px solid #e3e0d9; margin:10px 0; padding:8px 0; line-height: normal;}

		.bandeira{ background:url(../img/icones/bandeiras.png) 0 0 no-repeat; float:left; height:16px; margin:0 10px 10px 10px;}
		.visa{ background-position:0 0; width:31px;}
		.master{ background-position:-31px 0; width:29px;}
		.dinners{ background-position:-60px 0; width:26px;}
		.aexpress{ background-position:-86px 0; width:18px;}
		.elo{ background-position:-104px 0; width:16px;}
		.bradesco{ background-position:0 -16px; width:16px;}
		.itau{ background-position:-16px -16px; width:18px;}
		.bb{ background-position:-34px -16px; width:16px;}
		.cube{ background-position:-50px -16px; width:18px;}
		.hsbc{ background-position:-68px -16px; width:26px;}
		.pboleto{ background-position:0 -32px; width:35px;}
		.pagseguro{ background-position:-35px -32px; width:19px;}
	}
		.botoes{margin: 35px 0 17px 0;
input[type="button"]{
font-size: 24px;
font-family: 'marvelbold';
background: #eeeae0;
color: #b3a68f;
padding: 14px 17px 8px 17px;
border: 1px solid #e1dcd1;
box-shadow: inset 0 1px 0px 0px #f2f0ed;
border-radius: 5px;
float: left;
margin: 0 3px;
height: 49px;

&.proxima{
background: url(../img/backgrounds/btnConsultar.png) 0 0 repeat;
color: #ffffff;
border: 1px solid #ffa000;
padding: 14px 33px 8px 33px;
}

}
	}
	
}
.close{ background:url(../img/icones/sair.png) 0 0 no-repeat; width:25px; height:25px; float:right; margin:-10px -10px 0 0;}

.lt-ie8 .consultas .nivel1 .outras{ width:118px;
	span{ margin-top:-35px;}
}